<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="fragments/head :: head (title='货架布局')">
</head>

<body>
	<nav th:replace="fragments/navbar :: navbar"></nav>

	<div class="container" style="margin-top: 20px;">
		<form role="form" autocomplete="off" id="form_create"
			class="form-inline form-horizontal">
			<div class="form-group">
				<label class="form-label control-label" for="name" style="border: 0">名称:</label> 
				<input class="form-control" type="text" id="name" name="name" placeholder="请输入货架名称" /> 
				<label class="form-label control-label" for="code" style="border: 0">编号:</label> 
				<input class="form-control" type="text" id="code" name="code" placeholder="请输入货架编号" /> 
				<label class="form-label control-label" for="height" style="border: 0">高度:</label> 
				<input class="form-control" type="text" id="height" style="width: 10%;" name="height" placeholder="请输入货架高度" /> 
				<label class="form-label control-label" for="width" style="border: 0">宽度:</label> 
				<input class="form-control" type="text" id="width" style="width: 10%;" name="width" placeholder="请输入货架宽度" />
				<span style="white-space: pre"> (基本单位 = 20cm) </span> 
				<input type="button" class="btn btn-primary form-control" style="border: 0" id="show_rack" value="生成货架" />
				<input type="button" class="btn btn-success form-control" style="border: 0" id="reset" value="重置" />
			</div>
		</form>
		<br /> <br />

		<div class="col-sm-12">
			<!--货架布局-->
			<div class="col-sm-4" style="margin-bottom: 70px; width：40%;">
				<div id="rack" style="margin-bottom: 30px"></div>
				<button id="select_level" type="button" class="btn btn-primary hide">选择货架的纵向cell</button>
				<button id="select_level1" type="button" class="btn btn-success hide" data-placement="bottom" data-trigger="hover" 
				data-content="选择一层的高度后点击该按钮">生成层</button>
			</div>
			<!--pod布局-->
			<div id="level" class="col-sm-5 hide" style="margin-bottom: 70px; width：40%;">
				<img id="image" class="hide" src="images/direction.jpg" style="float: right;"></img>
				<div id="pod"></div>
				
				<div class="form-inline" style="margin-top: 40px;" id = "button_line" >
					<select class="form-control" id="direction" name="direction">
						<option value="east">朝向东</option>
						<option value="west">朝向西</option>
						<option value="south">朝向南</option>
						<option value="north">朝向北</option> 
					</select>
					<button id="generate_pod" type="button" class="btn btn-primary"
						style="margin-left: 30px;" disabled = "disabled">生成Pod</button>
					<button id="level_over" type="button" class="btn btn-warning"
						style="margin-left: 30px;" disabled = "disabled" data-placement="bottom" data-trigger="hover" 
				data-content="pod布局完成后点击该按钮">Pod布局完成</button>
					<!-- <button id="preview" type="button" class="btn btn-info"
						style="margin-left: 30px;display:none" >预览</button>  -->
					<button id="level_submit" type="button" class="btn btn-success"
						style="margin-left: 30px;" disabled = "disabled">提交</button>
				</div>
			</div>
			<div id="step" class="col-sm-2" style="margin-bottom: 70px; width：20%; float: right;">
				<h4><strong>操作步骤:</strong></h4>
				<p>1、输入货架名称、编号、高度、宽度等基本信息，点击“生成货架”按钮，弹出货架布局。</p>
				<p>2、点击“选择货架纵向cell”按钮，再点击1、2、3...等连续的按钮，确定层的高度。</p>
				<p>3、点击“生成层”按钮，弹出层布局。</p>
				<p>4、选择“朝向东/西/南/北”，再点击层中的连续方格。</p>
				<p>5、点击“生成Pod”按钮，一层中的一个Pod布局完成。</p>
				<p>6、重复操作第4步和第5步，直到一层的所有Pod布局全部完成。</p>
				<p>7、点击“Pod布局完成”按钮，返回第2步，重复以上步骤，继续为新层布局。</p>
				<p>8、整个货架布局结束后，点击“提交”按钮，货架型号新建完成。</p>
			</div>
			<!-- 预览 -->
			<!-- <div id="level_preview" class="col-sm-6 hide" style="margin-bottom: 70px;">
				<div id="rack_preview" style="margin-bottom: 30px"></div>
				<div id="pod_preview"></div>
			</div>  -->
		</div>
	</div>
	<nav th:replace="fragments/footer :: footer"></nav>

	<script>	
            $(function() {
            	var cell_id = new Array();
            	var podIdList = new Array();
            	var cell_length = new Array();
            	var cellIdList = new Array();
            	var level = new Array();
            	var levelHeight = new Array();//
            	var levelPodWidth = new Array();//
            	var levelPodDepth = new Array();//
            	var levelPodCellIds = new Array();//
            	var levelPodxAxis = new Array();//
            	var levelPodFaced = new Array();//
            	var buttonIdList = new Array();//
            	var newPodCountList = new Array();
            	var direction = new Array();
            	var array_width = new Array();
            	var xAxisList = new Array();
            	var newPodCount = new Array();
            	var level_click = 0;//
            	var newLevelClick = 0;//
            	var BigHeightCount = 0;//
            	var eastList = new Array();
            	var westList = new Array();
            	var southList = new Array();
            	var northList = new Array();
            	var xList = new Array();
            	var fisrt = 0;
            	var last = 0;
            	var buttonId = 1;
            	var color = null;
            	var rackCountNew= 0
            	var xAxis = 0
            	var rackCount = 0;//
            	var levelWidth = 0;//
            	var levelheight = 0;//
            	var newLevelClick2= 0;
            	var rackModelLength = 0;//
            	var hasLevel = new Boolean();
            	var isNewLevel= new Boolean();
            	var flag = new Boolean();
            	flag = false;
            	isNewLevel =false;
            	hasLevel = false;
            	var a = 0;
            	var b = 0;
            	var c = 0;
            	var newC = 0;
            	var hh = 0;
            	
            	var $li;
            	var i = 1;
            	var n = 1;
            	var ll = 1;
            	var lla = 1;
            	var llb = 1;
            	var llc = 0;
            	var lld = 0;
            	
            	function sortNumber(a,b)
            	{
            		return a - b
            	}
            	
            	function contains(a, obj) {
            	    var i = a.length;
            	    while (i--) {
            	       if (a[i] == obj) {
            	           return true;
            	       }
            	    }
            	    return false;
            	}
            	/*<![CDATA[*/
            	Array.prototype.indexOf = function(val) {
            		for (var i = 0; i < this.length; i++) {
            		if (this[i] == val) return i;
            		}
            		return -1;
            	};
            		
           		Array.prototype.remove = function(val) {
           			var index = this.indexOf(val);
           			if (index > -1) {
           			this.splice(index, 1);
           			}
           		};	
           		/*]]>*/
            	function GetQueryString(name) {
        			/*<![CDATA[*/
        			/*使用inline js，否则thymeleaf无法解析'&'、'<'等运算符*/
        			var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
        			var r = window.location.search.substr(1).match(reg); //获取url中"?"符后的字符串并正则匹配
        			var context = "";
        			if (r != null) {
        				context = r[2];
        			}
        			reg = null;
        			r = null;
        			return context == null || context == "" || context == "undefined" ? "" : context;
        			/*]]>*/
        		}
            	
           		//显示提示框
           		$("#level_over").popover('show');
           		
           		//防止页面加载完成后，还没有触发事件，就弹出提示框
           		$("body").click(function(){
                    $('.popover').remove();
                });
           		
            	if(GetQueryString("id")!=""){
            	///获取货架分层详细信息
				var geturl = CONSTS.BASE_API + '/rack-model/' + GetQueryString("id");
				$.get(geturl, function(data, status) {
					if (data.code == 0) {
						var colorCount = 0;
						var rackModel = data.result;
						if(rackModel.levels.length != 0){
							//显示方向图标
		                	$("#image").removeClass('hide');
		                	$("#select_level").removeClass('hide');///显示按钮
							$('#level_submit').removeAttr("disabled")
							$('#level_over').removeAttr("disabled")
							levelWidth = rackModel.levels[0].width
							levelheight = rackModel.height
							$('#height').val(levelheight)
							$('#width').val(levelWidth)
							$('#name').val(rackModel.name)
							$('#code').val(rackModel.code)
							hasLevel = true;
							rackModelLength = rackModel.levels.length
							console.log(rackModel)
							var h = rackModel.height
		                	var height = 100/h + "%"
		            		 $('#rack').height(rackModel.height*CONSTS.UNIT);
		                     $('#rack').width(rackModel.levels[0].width*CONSTS.UNIT);
							/*<![CDATA[*/
			            	for(var count = rackModel.height; count > 0 ; count--) {
			            		$button = '<button id="button' + count + '" class="bt" style="border: 1px solid #666;  width: 100%; float: left; height: ' + height + '">' + count + '</button>';
			            		$("#rack").append($button);
			            	};
			            	
			            	for(var i = 0; i < rackModel.levels.length; i++){
				            	var level_height = rackModel.levels[i].height;
				            	//llc存储当前层的最大cell的编号，lld存储上一层的最大cell的编号，用于后面改变层间分割线的样式
				            	lld = llc;
				            	llc = llc + level_height;
				            	//console.log(llc);
				            	buttonIdList[i] = new Array();
				            	for(var j = 0; j < level_height; j++){
					            	var obj = document.getElementById("button"+ buttonId +"");
					            	buttonIdList[i].push("button"+buttonId);
					            	buttonId = buttonId + 1;
						            switch(colorCount % 10){
					            		case 0:
					                		color = "#FFEC8B";
											break;
					            		case 1:
					                		color = "#FFC1C1";
											break;
					            		case 2:
					                		color = "#FFBBFF";
											break;
					            		case 3:
					                		color = "#D1EEEE";
											break;
					            		case 4:
					                		color = "#C1FFC1";
											break;
					            		case 5:
					                		color = "#00FA9A";
											break;
					            		case 6:
					                		color = "#5CACEE";
											break;
					            		case 7:
					                		color = "#00E5EE";
											break;
					            		case 8:
					                		color = "#9F79EE";
											break;
					            		case 9:
					                		color = "#CD950C";
											break;
					            		default:
											break;
					            	}
					            	obj.setAttribute("style","background: " + color + "; border: 1px solid #666; border-top: 1px dashed #fff; border-bottom: 1px dashed #fff; width: 100%; float: left; height: " + height + "")				            		
					            	
					            	$("#button" + (lld+1)).css({
			                			"border-bottom-width": "1px",
			                			"border-bottom-style": "solid",
			                			"border-bottom-color": "#000"
			                	 	});
				            	} //for(var j =0; j < level_height; j++)
				            	colorCount = colorCount + 1;
				            	//console.log(level_height);
				            	//改变层间分割线的样式
				            	$("#button1").css({
		                			"border-bottom-width": "1px",
		                			"border-bottom-style": "solid",
		                			"border-bottom-color": "#000"
		                	 	});
				            	$("#button" + llc).css({
		                			"border-top-width": "1px",
		                			"border-top-style": "solid",
		                			"border-top-color": "#000"
		                	 	});
		                		
			          		} //for(var i = 0; i < rackModel.levelList.length; i++)
			          			
			            	$("#rack").on("click", ".bt", function() {
			            		for(var i = 0; i < rackModel.levels.length; i++){
			            			levelHeight[i] = rackModel.levels[i].height
				            		if(contains(buttonIdList[i],this.id)){
				            			levelPodWidth[i] = new Array()
				            			levelPodDepth[i] = new Array()
				            			levelPodFaced[i] = new Array()
				            			levelPodCellIds[i] = new Array()
				            			levelPodxAxis[i] = new Array()
				            			for(var ii = 0; ii < rackModel.levels[i].layouts.length; ii++){
				            				levelPodWidth[i][ii] = rackModel.levels[i].layouts[ii].width
				            				levelPodDepth[i][ii] = rackModel.levels[i].layouts[ii].depth
				            				levelPodFaced[i][ii] = rackModel.levels[i].layouts[ii].faced
				            				levelPodCellIds[i][ii] = rackModel.levels[i].layouts[ii].cellIds
				            				levelPodxAxis[i][ii] = rackModel.levels[i].layouts[ii].xaxis
				            				console.log(rackModel.levels[i].layouts[ii])
				            				
				            			}
				            			
				            			rackCount = i;
				            			var pod = document.getElementById("pod")
				            			while(pod.hasChildNodes()) 
				            		    {
				            				pod.removeChild(pod.firstChild);
				            		    }
				            			//生成层
				            			newPodCount[i] = rackModel.levels[i].layouts.length
						            	var w = rackModel.levels[0].width;
					                	var wid = w * w 
					                	var width = 100/w + "%"
					                	$('#level').removeClass('hide');
					                    $('#pod').height(rackModel.levels[0].width*CONSTS.UNIT);
					                    $('#pod').width(rackModel.levels[0].width*CONSTS.UNIT);
					                    $('#pod').css('background-color', "#FFFFFF");
					                    var n2 = 1
					                    /*<![CDATA[*/
						            	for(var j = 1; j <= wid; j++) {
											$div = '<button class = "div_cell" id="' + n2 + '" style=" border: 2px solid #666; width: ' + width + '; float: left; height: ' + width + '"></button>';
						            		n2++;
											$("#pod").append($div);
										};
										var podColorCount = 0
										var podCount = rackModel.levels[i].layouts.length;
						            	for(var g = 0; g < podCount; g++){
						            		podIdList = rackModel.levels[i].layouts[g].cellIds.split("*")
						            		switch(podColorCount % 20){
						            		case 0:
						                		color = "#FFEC8B";
												break;
						            		case 1:
						                		color = "#FFC1C1";
												break;
						            		case 2:
						                		color = "#FFBBFF";
												break;
						            		case 3:
						                		color = "#7FFF00";
												break;
						            		case 4:
						                		color = "#C1FFC1";
												break;
						            		case 5:
						                		color = "#00FA9A";
												break;
						            		case 6:
						                		color = "#5CACEE";
												break;
						            		case 7:
						                		color = "#228B22";
												break;
						            		case 8:
						                		color = "#9F79EE";
												break;
						            		case 9:
						                		color = "#CD950C";
												break;
						            		case 10:
						                		color = "#4682B4";
												break;
						            		case 11:
						                		color = "#FFB90F";
												break;
						            		case 12:
						                		color = "#00CED1";
												break;
						            		case 13:
						                		color = "#FF6A6A";
												break;
						            		case 14:
						                		color = "#8B658B";
												break;
						            		case 15:
						                		color = "#FF8247";
												break;
						            		case 16:
						                		color = "#BFEFFF";
												break;
						            		case 17:
						                		color = "#0000CD";
												break;
						            		case 18:
						                		color = "#FF00FF";
												break;
						            		case 19:
						                		color = "#8B7D7B";
												break;
						            		default:
												break;
						            		}
						            		
						            		for (var k = 0; k < podIdList.length; k++){
						            			switch(rackModel.levels[i].layouts[g].faced){
						            			case "EAST":
						            				$("#"+podIdList[k]+"").attr("style","border: 2px solid #666; border-right: 0; width: " + width + "; float: left; height: " + width + "")
						            				break;
						            			case "WEST":
						            				$("#"+podIdList[k]+"").attr("style","border: 2px solid #666; border-left: 0; width: " + width + "; float: left; height: " + width + "")
						            				break;
						            			case "SOUTH":
						            				$("#"+podIdList[k]+"").attr("style","border: 2px solid #666; border-bottom: 0; width: " + width + "; float: left; height: " + width + "")
						            				break;
						            			case "NORTH":
						            				$("#"+podIdList[k]+"").attr("style","border: 2px solid #666; border-top: 0; width: " + width + "; float: left; height: " + width + "")
						            				break;
						            			default:
						            				break;
						            			}
						            			$("#"+podIdList[k]+"").css('background-color' , "" + color + "");
						            			$("#"+podIdList[k]+"").attr('disabled', "disabled");
						            		} //for (var k = 0; k < podIdList.length; k++)
						            		
						            		podColorCount = podColorCount + 1;
						            	} //for(var g = 0; g < podCount; g++)
				            		} //if(contains(buttonIdList[i],this.id))
				            	} //for(var i = 0; i < rackModel.levelList.length; i++)
			            		
								if(hasLevel){
									var heightCount = 0
				                	for(var q = 0; q < levelHeight.length; q++){
				                		heightCount = heightCount + levelHeight[q]
				                	}
									
				                	if(this.innerHTML > heightCount){
				                		isNewLevel = true
				                		newLevelClick = newLevelClick + 1;
				                	}
				                	else{
				                		isNewLevel = false
				                	}
				                	//生成层按钮
				                	
				                	if(!isNewLevel){
				            			 $("#generate_pod").attr("disabled","disabled")
				            		}
				            		else{
				            			 newLevelClick2 = newLevelClick2 + 1
				            			 if(newLevelClick2 == 1){
					                			rackCount = rackModelLength
					                			rackCountNew = rackModelLength
				                    	 }
				                		 else{
				                			rackCount = rackCountNew
				                		 }
				            		 }
									if(!isNewLevel){
									    var p = rackCount
										level[p] = new Array();
										level[p][0] = levelHeight[p];
				     		    		level[p][1] = newPodCount[p];
				     		    		level[p][2] = new Array()
				     		    		for(var d = 0; d < rackModel.levels[rackCount].layouts.length; d++){
				         		        	level[p][2][d] = new Array();
				     	    		        level[p][2][d][0] = "left"
				   	    		        	level[p][2][d][1] = levelPodWidth[p][d];//深度
				   	    		        	level[p][2][d][2] = levelPodDepth[p][d];//宽度
				   	    		        	switch(levelPodFaced[p][d]){
				     	    		        	case "EAST":
				     	    		        		levelPodFaced[p][d]="east";
				     	    		        		break;
				     	    		        	case "WEST":
				     	    		        		levelPodFaced[p][d]="west";
				     	    		        		break;
				     	    		        	case "SOUTH":
				     	    		        		levelPodFaced[p][d]="south";
				     	    		        		break;
				     	    		        	case "NORTH":
				     	    		        		levelPodFaced[p][d]="north";
				     	    		        		break;
				     	    		        	default:
				     	    		        		break;
				     	    		        }
					     	    		    level[p][2][d][3] = levelPodFaced[p][d];
					 	    		       	level[p][2][d][4] = levelPodCellIds[p][d];
					 	    		        level[p][2][d][5] = levelPodxAxis[p][d];
				 	    		    	}
				     		     		c = 10
									}
								}
							}); //$("#rack").on("click", ".bt", function()
			            	
			            	//设置按钮是否可用
			            	if(hasLevel){
								$('#select_level').attr("disabled","disabled") //选择货架的纵向cell
								//没有分层的按钮
								var heightCount = 0
								var levelHeight2 = new Array()
								for(var i = 0; i < rackModel.levels.length; i++){
			            			levelHeight2[i] = rackModel.levels[i].height
								}
			                	for(var q = 0; q < levelHeight2.length; q++){
			                		heightCount = heightCount + levelHeight2[q]
			                	}
								for(var u = heightCount + 1; u <= levelheight; u++){
									$('#button' + u + '').attr("disabled","disabled")
								}
								
								//按所有的已分层按钮
								BigHeightCount = heightCount
								for(var y = BigHeightCount; y >= 1; y--){
				            		$('#button' + y + '').click();
				            	}
								//设置东西南北list
								var w =	$("#width").val()
								var wSquare = w * w
								var westCount = 1
								for(var e = w; e >= 1; e--){
									northList.push(e)
								}
								
								westList.push(1)
								for(var f = 1; f < w; f++){
									westList.push(parseInt(westCount)+parseInt(w))
									westCount = parseInt(westCount)+parseInt(w)
								}
							
								for(var g = w; g >= 1; g--){
									eastList.push(g*w)
								}
								
								for(var h = parseInt(wSquare) - parseInt(w) + 1; h <= wSquare ; h++){
									southList.push(h)
								}
								
							} //if(hasLevel)
			            	/*]]>*/
						} //if(rackModel.levelList.length != 0)
					} //if (data.code == 0)
				}, 'json'); //$.get(
            } //if(GetQueryString("id")!="")
				
                //预览
				/*$("#preview").click(function(){
					$('#level_preview').removeClass("hide")
				});*/
				
            	var flag1 = 1;
				$("#show_rack").click(function(){
					$("#select_level").removeClass('hide');
					$("#select_level1").removeClass('hide');
					//显示提示框
	           		$("#select_level1").popover('show');
	           		
					/*<![CDATA[*/
					if(!hasLevel && flag1){
					var w =	$("#width").val()
					var wSquare = w * w
					var westCount = 1
					for(var e = w; e >= 1; e--){
						northList.push(e)
					}
					
					westList.push(1)
					for(var f = 1; f < w; f++){
						westList.push(parseInt(westCount)+parseInt(w))
						westCount = parseInt(westCount)+parseInt(w)
					}
					
					for(var g = w; g >= 1; g--){
						eastList.push(g*w)
					}
					
					for(var h = parseInt(wSquare) - parseInt(w) + 1; h <= wSquare ; h++){
						southList.push(h)
					}
					
            		var h = parseInt($("#height").val());
                	var height = 100/h + "%";
            		$('#rack').height(parseInt($("#height").val())*CONSTS.UNIT);
                    $('#rack').width(parseInt($("#width").val())*CONSTS.UNIT);
                    hh = h;//将局部变量h的值赋给全局变量hh，用于选择货架纵向cell时的逻辑控制
	            	
	            	for(var count = parseInt($("#height").val()); count > 0 ; count--) {
	            		$button = '<button id="button' + count + '" class="bt" style="border: 1px solid #666;  width: 100%; float: left; height: ' + height + '">' + count + '</button>';
	            		$("#rack").append($button);
	            	};
					}
					flag1 = 0;
	            	/*]]>*/
            	});//$("#show_rack")
            	
            	$('#reset').click(function() {
	            	//重置
            		window.location.reload();
            	});  
            	
            	$('#level_submit').click(function() {
            		/*<![CDATA[*/
         		   if(hasLevel){
         			   for(var i = 0; i < level.length; i++){
							for(var j = 0; j < level[i][1]; j++){
								level[i][2][j] = level[i][2][j].join()
							}
							if(level[i][2].length>1){
								level[i][2] = level[i][2].join("$")
							}
							level[i] = level[i].join(".")
	          		 	}
         			 	level = level.join("|")
	         			level = levelheight + "?" + levelWidth + "?" + $('#name').val() + "?" + $('#code').val() + "?" + level
	         			
		          		$.ajax({
		                   type : "post",
		                   url : CONSTS.BASE_API + '/rack-model/level/' + GetQueryString("id"),
		                   async : false,
		                   
		                   data : {"level" : level},
		                   
		                   success : function(data) {
		                	   alert("货架创建成功!")
		                   },
		                   fail : function(data) {
		                   }
			             });
         		     }
         		     else{
	            		 for(i = 0; i < level.length; i++){
	            			 for(j = 0; j < level[i][1]; j++){
	            				 level[i][2][j] = level[i][2][j].join()
	            			 }
	            			 if(level[i][2].length>1){
	            			 	level[i][2] = level[i][2].join("$")
	            			 }
	            			 level[i] = level[i].join(".")
	            		 }
	            		 
	           			 level = level.join("|")
	           			 level = $("#height").val() + "?" + $("#width").val() + "?" + $("#name").val() + "?" + $("#code").val() + "?" + level
	           			 
	            		 $.ajax({
	  	                   type : "post",
	  	                   url : CONSTS.BASE_API + '/rack-model/',
	  	                   async : false,
	  	                   
	  	                   data : {"level" : level},
	  	                   
	  	                   success : function(data) {
	  	                	   alert("新建成功")
	  	                   },
	  	                   fail : function(data) {
	  	                   }
	  	               	 });
            		 /*]]>*/
         		     }
            	}); //$('#level_submit')
            	
            	lla = llb;
            	$('#select_level').click(function() {
            		$('.bt').removeAttr("disabled")
            		//为rack中的每个button添加点击事件
	            	/*<![CDATA[*/
	                $("#rack").on("click", ".bt", function() {
	                	//console.log(lla);
	                	$('#level_submit').attr("disabled","disabled")
	                	if(hasLevel){
		                	
		                }
	                	else{
	                	level_click = level_click + 1;
	                	ll++;
	                	}
	                	
	                	$(this).attr('disabled', "disabled");
	                	switch(b % 10){
	            		case 0:
	                		color = "rgb(92,167,186)";
							break;
	            		case 1:
	                		color = "rgb(255,94,72)";
							break;
	            		case 2:
	                		color = "rgb(230,155,3)";
							break;
	            		case 3:
	                		color = "rgb(225,238,210)";
							break;
	            		case 4:
	                		color = "rgb(179,197,135)";
							break;
	            		case 5:
	                		color = "rgb(166,137,124)";
							break;
	            		case 6:
	                		color = "rgb(186,40,53)";
							break;
	            		case 7:
	                		color = "rgb(29,191,151)";
							break;
	            		case 8:
	                		color = "rgb(201,138,131)";
							break;
	            		case 9:
	                		color = "rgb(101,147,74)";
							break;
	            		default:
							break;
	            		}
	                	llb = ll;
	                	//console.log(llb);
	                	$(this).attr('style', "background: " + color + "; border: 1px solid #666; width: 100%; float: left; height: " + height + "");         	
	                	});
	            	/*]]>*/
            	}); //$('#select_level')           	
            	
            	$('#level_over').click(function() {
            		//pod布局完成后，点击按钮，隐藏方向图标
            		$("#image").addClass('hide');
            		//点击“确定”按钮后，表示一层的pod布局结束，隐藏提示信息
            		$("#level_over").popover('hide');
            		//pod布局完成后，恢复rack按钮可点击,“确定层高”（生成层按钮）可用
            		/*<![CDATA[*/
            		for(var r = 1; r <= hh; r++) { 
            			var rgb = $("#button" + r).css("background-color");
            			if(rgb == "rgb(221, 221, 221)") {
                			$("#button" + r).removeAttr("disabled");
                		}
            		}
            		$("#select_level1").removeAttr("disabled");
            		
          		    //恢复按钮可用
          		    $('#level_over').attr("disabled","disabled");
          		    $('#level_submit').removeAttr("disabled");
          		    $('#select_level').removeAttr("disabled");
          		     //恢复按钮可用
         		    if(hasLevel){
         		    	if(!isNewLevel){
         		    		if(flag){
         		    		for (var w = 0; w <= newPodCountList.length - 1; w++){
         		    		
                    		level[rackCount][2][newPodCountList[w]] = new Array()
                    		level[rackCount][2][newPodCountList[w]][0] = "left"
                    		if(direction[newPodCountList[w]] == "east" || direction[newPodCountList[w]] == "west"){
                    				level[rackCount][2][newPodCountList[w]][1] = array_width[newPodCountList[w]];//深度
                    				level[rackCount][2][newPodCountList[w]][2] = cell_length[newPodCountList[w]] / array_width[newPodCountList[w]];//宽度
       	    		        }
       	    		        else{
       	    		        	level[rackCount][2][newPodCountList[w]][2] = cell_length[newPodCountList[w]] / array_width[newPodCountList[w]];//深度
       	    		        	level[rackCount][2][newPodCountList[w]][1] = array_width[newPodCountList[w]];//宽度
       	    		        }
                    		level[rackCount][2][newPodCountList[w]][3] = direction[newPodCountList[w]];
                    		level[rackCount][2][newPodCountList[w]][4] = cellIdList[newPodCountList[w]];
                    		level[rackCount][2][newPodCountList[w]][5] = xAxisList[newPodCountList[w]];
         		    		}
         		    		}
	         		    	c = 10
	         		    	n = 1
	         		    	var pod = document.getElementById("pod")
		           			while(pod.hasChildNodes()) 
		           		    {
		           				pod.removeChild(pod.firstChild);
		           		    } 
         		    	}
         		    	else{
         		    		level[rackCount] = new Array();        
            		        level[rackCount][0] = newLevelClick;
            		        level[rackCount][1] = newC;
            		        level[rackCount][2] = new Array();
            		        for(i = 0; i < newC; i++){
            		        	level[rackCount][2][i] = new Array();
        	    		        level[rackCount][2][i][0] = "left";
        	    		        if(direction[i] == "east" || direction[i] == "west"){
        	    		        	 level[rackCount][2][i][1] = array_width[i];//深度
        	    		        	 level[rackCount][2][i][2] = cell_length[i] / array_width[i];//宽度
        	    		        }
        	    		        else{
        	    		        	 level[rackCount][2][i][1] = cell_length[i] / array_width[i];//深度
        	    		        	 level[rackCount][2][i][2] = array_width[i];//宽度
        	    		        }
        	    		       	level[rackCount][2][i][3] = direction[i];
        	    		       	level[rackCount][2][i][4] = cellIdList[i];
        	    		       	level[rackCount][2][i][5] = xAxisList[i];
        	    		    }
            		        newLevelClick = 0;   
            		        rackCount = rackCount + 1
            		        rackCountNew = rackCount
            		        n = 1;
                    		b = b + 1;
                    		newC = 0;
                    		var pod = document.getElementById("pod")
                			 while(pod.hasChildNodes()) 
                		    {
                				pod.removeChild(pod.firstChild);
                		    } 
        	            	/* for(var i = first; i <= last; i++){
        	            		$('#' + i + '').addClass('hide')
        	            	} */
         		    	}
         		    }
            		else{
            			$('#preview').attr("style","margin-left: 30px;display:")
	            		level[b] = new Array();
	    		        level[b][0] = level_click;
	    		        level[b][1] = c;
	    		        level[b][2] = new Array();
	    		        for(i = 0; i < c; i++){
	    		        	level[b][2][i] = new Array();
		    		        level[b][2][i][0] = "left";
		    		        if(direction[i] == "east" || direction[i] == "west"){
		    		        	 level[b][2][i][1] = array_width[i];//深度
		    		        	 level[b][2][i][2] = cell_length[i] / array_width[i];//宽度
		    		        }
		    		        else{
		    		        	 level[b][2][i][1] = cell_length[i] / array_width[i];//深度
		    		        	 level[b][2][i][2] = array_width[i];//宽度
		    		        }
		    		       	level[b][2][i][3] = direction[i];
		    		       	level[b][2][i][4] = cellIdList[i];
		    		       	level[b][2][i][5] = xAxisList[i];
		    		    }
	    		        
	    		        level_click = 0;   
	    		        n = 1;
	            		b = b + 1;
	            		c = 0;
	            		var pod = document.getElementById("pod")
	        			 while(pod.hasChildNodes()) 
	        		    {
	        				pod.removeChild(pod.firstChild);
	        		    } 
		            	/* for(var i = first; i <= last; i++){
		            		$('#' + i + '').addClass('hide')
		            	} */
            		}
         		   /*]]>*/
            	}); //$('#level_over')   
            	
            	$('#generate_pod').click(function() {
            		/*<![CDATA[*/
            		$('#level_over').removeAttr("disabled")
         		    if(hasLevel){
         		    	if(isNewLevel){
         		    		cell_id.sort(sortNumber)
         		    		
         		    		 if($('#direction').val() == "east"){
     	   	            		for(var e = 0; e < cell_id.length; e++){
     	   	            			if(contains(eastList,cell_id[e])){
     	   	            				xList.push(cell_id[e])
     	   	            			}
     	   	            		}
     	   	            		xAxis = eastList.indexOf(xList[xList.length-1])
     	   	            	}
     	   	            		if($('#direction').val() == "west"){
     	   		            		for(var e = 0; e < cell_id.length; e++){
     	   		            			if(contains(westList,cell_id[e])){
     	   		            				xList.push(cell_id[e])
     	   		            			}
     	   		            		}
     	   		            	xAxis = westList.indexOf(xList[0])
     	   		            		}
     	   	            		if($('#direction').val() == "south"){
     	   		            		for(var e = 0; e < cell_id.length; e++){
     	   		            			if(contains(southList,cell_id[e])){
     	   		            				xList.push(cell_id[e])
     	   		            			}
     	   		            		}
     	   		            		xAxis = southList.indexOf(xList[0])
     	   		            		}
     	   	            		if($('#direction').val() == "north"){
     	   		            		for(var e = 0; e < cell_id.length; e++){
     	   		            			if(contains(northList,cell_id[e])){
     	   		            				xList.push(cell_id[e])
     	   		            			}
     	   		            		}
     	   		            		xAxis = northList.indexOf(xList[xList.length-1])
     	   		            		}
     	   	            		
         		    		var i = 0;
                    		var j = 0;
        					for(i = cell_id[0]; contains(cell_id,i); i++){
        						j = j + 1;
        						if(j > levelWidth){
        							j = levelWidth;
        						}
        					}
        					c = c + 1
        					xAxisList[newC] = xAxis
        					array_width[newC] = j
                    		direction[newC] = $('#direction').val()
                    		cell_length[newC] = cell_id.length
                    		cellIdList[newC] = cell_id.join("*")
                    		for(i = 0; i < cell_id.length; i++){
    	            			$('#'+cell_id[i]+'').attr("disabled","disabled")
    	            		}
        					xList = []
                    		cell_id = [];
        					newC = newC + 1;
                    		$(this).attr("disabled","disabled")
         		    	}
         		    	else{
	         		    	flag = true;
	         		        cell_id.sort(sortNumber)
	         		        
	         		       if($('#direction').val() == "east"){
	   	            		for(var e = 0; e < cell_id.length; e++){
	   	            			if(contains(eastList,cell_id[e])){
	   	            				xList.push(cell_id[e])
	   	            			}
	   	            		}
	   	            		xAxis = eastList.indexOf(xList[xList.length-1])
	   	            		}
	   	            		if($('#direction').val() == "west"){
	   		            		for(var e = 0; e < cell_id.length; e++){
	   		            			if(contains(westList,cell_id[e])){
	   		            				xList.push(cell_id[e])
	   		            			}
	   		            		}
	   		            	xAxis = westList.indexOf(xList[0])
	   		            		}
	   	            		if($('#direction').val() == "south"){
	   		            		for(var e = 0; e < cell_id.length; e++){
	   		            			if(contains(southList,cell_id[e])){
	   		            				xList.push(cell_id[e])
	   		            			}
	   		            		}
	   		            		
	   		            		xAxis = southList.indexOf(xList[0])
	   		            		}
	   	            		if($('#direction').val() == "north"){
	   		            		for(var e = 0; e < cell_id.length; e++){
	   		            			if(contains(northList,cell_id[e])){
	   		            				xList.push(cell_id[e])
	   		            			}
	   		            		}
	   		            		xAxis = northList.indexOf(xList[xList.length-1])
	   		            		}
	   	            		
	         		        
	                		var i = 0;
	                		var j = 0;
	    					for(i = cell_id[0]; contains(cell_id,i); i++){
	    						j = j + 1;
	    						if(j > levelWidth){
	    							j = levelWidth;
	    						}
	    					}
	    					newPodCountList.push(newPodCount[rackCount])
	    					xAxisList[newPodCount[rackCount]] = xAxis
	    					array_width[newPodCount[rackCount]] = j
	                		direction[newPodCount[rackCount]] = $('#direction').val()
	                		cell_length[newPodCount[rackCount]] = cell_id.length
	                		cellIdList[newPodCount[rackCount]] = cell_id.join("*")
	                		for(i = 0; i < cell_id.length; i++){
		            			$('#'+cell_id[i]+'').attr("disabled","disabled")
		            		}
	                		cell_id = [];
	                		xList = []
	    					level[rackCount][1] = level[rackCount][1] + 1
	    					newPodCount[rackCount] = newPodCount[rackCount] + 1	
	    					
	                		$(this).attr("disabled","disabled")
	    	            	c = c + 1
	                		//
                		}
         		    }
         		    else{
	            		cell_id.sort(sortNumber)
	            		if($('#direction').val() == "east"){
	            		for(var e = 0; e < cell_id.length; e++){
	            			if(contains(eastList,cell_id[e])){
	            				xList.push(cell_id[e])
	            			}
	            		}
	            		xAxis = eastList.indexOf(xList[xList.length-1])
	            		}
	            		if($('#direction').val() == "west"){
		            		for(var e = 0; e < cell_id.length; e++){
		            			if(contains(westList,cell_id[e])){
		            				xList.push(cell_id[e])
		            			}
		            		}
		            		xAxis = westList.indexOf(xList[0])
		            	}
	            		if($('#direction').val() == "south"){
		            		for(var e = 0; e < cell_id.length; e++){
		            			if(contains(southList,cell_id[e])){
		            				xList.push(cell_id[e])
		            			}
		            		}
		            		xAxis = southList.indexOf(xList[0])
		            	}
	            		if($('#direction').val() == "north"){
		            		for(var e = 0; e < cell_id.length; e++){
		            			if(contains(northList,cell_id[e])){
		            				xList.push(cell_id[e])
		            			}
		            		}
		            		xAxis = northList.indexOf(xList[xList.length-1])
		            	}

	            		var i = 0;
	            		var j = 0;
						for(i = cell_id[0]; contains(cell_id,i); i++){
							j = j + 1;
							if(j > $("#width").val()){
								j = $("#width").val();
							}
						}
						xAxisList[c] = xAxis
						array_width[c] = j
	            		direction[c] = $('#direction').val()
	            		cell_length[c] = cell_id.length
	            		cellIdList[c] = cell_id.join("*")
	            		for(i = 0; i < cell_id.length; i++){
	            			$('#'+cell_id[i]+'').attr("disabled","disabled")
	            		}
	            		cell_id = [];
	            		xList = [];
						c = c + 1;
	            		$(this).attr("disabled","disabled")
		            	/*]]>*/
         		    }
            	}); //$('#generate_pod')   
            	
            	//点击“确定层高”按钮，显示一个层
                $('#select_level1').click(function() {
                	$("#rack .bt").attr("disabled", "disabled");
                	$(this).attr("disabled","disabled");
                	 /*<![CDATA[*/
                	//修改货架的层样式
                	//console.log(lla);
                    //console.log(llb);
                    //lla为某一层的最小cell编号，llb-1为某一层的最大cell编号
                	for(var l = lla; l < llb-1; l++) {
                		$("#button" + l).css({
                			"border-top-width": "1px",
                			"border-top-style": "dashed",
                			"border-top-color": "#fff"
                	 	});
                		$("#button" + (l+1)).css({
                			"border-bottom-width": "1px",
                			"border-bottom-style": "dashed",
                			"border-bottom-color": "#fff"
                	 	});
                	}
                	lla = llb;
                	$("#button" + (lla-1)).css({
            			"border-top-width": "1px",
            			"border-top-style": "solid",
            			"border-top-color": "#0g0"
            	 	});
            		$("#button" + (lla)).css({
            			"border-bottom-width": "1px",
            			"border-bottom-style": "solid",
            			"border-bottom-color": "#0g0"
            	 	});
                	/*]]>*/
                	
                	//显示方向图标
                	$("#image").removeClass('hide');
                	
                	if(hasLevel){
                		if(isNewLevel){
                			
                		}
                		var w = levelWidth
                    	var wid = w * w 
                    	var width = 100/w + "%"
                    	$('#level').removeClass('hide');
                        $('#pod').height(parseInt(w)*CONSTS.UNIT);
                        $('#pod').width(parseInt(w)*CONSTS.UNIT);
                        $('#pod').css('background-color', "#FFFFFF");
                	}
                	else{
	                	var w = parseInt($("#width").val())
	                	var wid = w * w 
	                	var width = 100/w + "%"
	                	$('#level').removeClass('hide');
	                    $('#pod').height(parseInt($("#width").val())*CONSTS.UNIT);
	                    $('#pod').width(parseInt($("#width").val())*CONSTS.UNIT);
	                    $('#pod').css('background-color', "#FFFFFF");
                    }
                    first = n
                    /*<![CDATA[*/
	            	for(var j = 1; j <= wid; j++) {//j<=（1/百分比）*（1/百分比）,每行格子数的平方
						$div = '<button class = "div_cell" id="' + n + '" style=" border: 2px solid #666; width: ' + width + '; float: left; height: ' + width + '"></button>';
	            		n++;
						$("#pod").append($div);
					};
					last = n-1
	            	/*]]>*/
                	
				 });  // $('#select_level1')
                $("#pod").on("click", ".div_cell", function() {
                	var w;
                	var wid;
                	var width;
                	if(hasLevel){
                		w = levelWidth
                    	wid = w * w 
                    	width = 100/w + "%"
                    }
                	else{
	                	w = parseInt($("#width").val())
	                	wid = w * w 
	                	width = 100/w + "%"
                	}
					$('#generate_pod').removeAttr("disabled");
					$('#level_over').attr("disabled","disabled");
					$('#button_line').attr("style","margin-top: 40px; display:")
					
					switch($('#direction').val()){
	            	case "east":
	            		$(this).attr("style","border: 2px solid #666; border-right: 0; width: " + width + "; float: left; height: " + width + "")
	            		break;
	            	case "west":
	            		$(this).attr("style","border: 2px solid #666; border-left: 0; width: " + width + "; float: left; height: " + width + "")
	            		break;
	            	case "north":
	            		$(this).attr("style","border: 2px solid #666; border-top: 0; width: " + width + "; float: left; height: " + width + "")
	            		break;
	            	case "south":
	            		$(this).attr("style","border: 2px solid #666; border-bottom: 0; width: " + width + "; float: left; height: " + width + "")
	            		break;
					}
					
					switch(c % 20){
            		case 0:
                		color = "#FFEC8B";
						break;
            		case 1:
                		color = "#FFC1C1";
						break;
            		case 2:
                		color = "#FFBBFF";
						break;
            		case 3:
                		color = "#7FFF00";
						break;
            		case 4:
                		color = "#C1FFC1";
						break;
            		case 5:
                		color = "#00FA9A";
						break;
            		case 6:
                		color = "#5CACEE";
						break;
            		case 7:
                		color = "#228B22";
						break;
            		case 8:
                		color = "#9F79EE";
						break;
            		case 9:
                		color = "#CD950C";
						break;
            		case 10:
                		color = "#4682B4";
						break;
            		case 11:
                		color = "#FFB90F";
						break;
            		case 12:
                		color = "#00CED1";
						break;
            		case 13:
                		color = "#FF6A6A";
						break;
            		case 14:
                		color = "#8B658B";
						break;
            		case 15:
                		color = "#FF8247";
						break;
            		case 16:
                		color = "#BFEFFF";
						break;
            		case 17:
                		color = "#0000CD";
						break;
            		case 18:
                		color = "#FF00FF";
						break;
            		case 19:
                		color = "#8B7D7B";
						break;
            		default:
						break;
            		}
					$(this).css('background-color' , "" + color + "");
					if(contains(cell_id,this.id)){
						$(this).css('background-color' , "");
						cell_id.remove(this.id)
						$(this).attr("style","border: 2px solid #666; width: " + width + "; float: left; height: " + width + "")
					}
					else{cell_id.push(this.id);}
				}); // $("#pod").on("click", ".div_cell", function()
            }); //$(function() {
            
        </script>
</body>
</html>