<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="fragments/head :: head (title='拣货')">
</head>

<body>
	<nav th:replace="fragments/navbar :: navbar"></nav>
	<div class="container table-responsive"
		style="width: 1024px; margin-bottom: 60px;">
		<div class="form-inline" >
			<div class="form-group form-group-sm">
					<label class="control-label">拣货单状态</label> <select
						class="form-control" id="filter_state"
						onchange="document.getElementById('btn_filter').click();">
						<option value="default">状态筛选</option>
						<option value="init">待拣货</option>
						<option value="ing">正在拣货</option>
						<option value="exception">拣货异常</option>
						<option value="finished">拣货完成</option>
						<option value="deleted">已作废</option>
					</select>
			</div>
			<div class="form-group form-group-sm">
				<label class="control-label">创建时间</label> <select class="form-control"
					id="filter_time"
					onchange="document.getElementById('btn_filter').click();">
					<option value="default">全部</option>
					<option value="today">今天</option>
					<option value="yesterday">昨天</option>
					<option value="this_week">本周</option>
					<option value="this_month">本月</option>
					
				</select>
			</div>
			<button type="button" class="btn btn-warning btn-sm" id="btn_filter">开始搜索</button>
			<button class="btn btn-sm btn-success btn-primary" id="new"
				style="float: right; position: relative;" data-toggle="modal"
				data-target="#modal_create">拣货</button>
			<button class="btn btn-sm btn-primary" id="batch"
				style="float: right; position: relative; margin-right: 5px;" data-toggle="modal"
				data-target="#excel_batch">导入Excel</button>
		</div>

		<!-- 表格 -->
		<input type="hidden" id="maxPage" th:attr="value=${maxPage}" />
		<table class="table table-condensed  table-hover"
			style="margin-top: 10px;">
			<thead>
				<tr class="active">
					<td style="text-align: left" class="cell">业务单类型</td>
					<td class="cell">编号</td>
					<td class="cell">创建时间</td>
					<td class="cell">完成时间</td>
					<!-- <td class="cell">完成时间</td>  -->
					<td class="cell">状态</td>
					<td align="right" style="width: 7%;">操作</td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="stock : ${stocks}">
					<td style="text-align: left" class="cell" th:text="${stock.type}" data-toggle="tooltip" th:title="${stock.type}">20151028001</td>
					<td class="cell" th:text="${stock.number}" data-toggle="tooltip" th:title="${stock.number}">在库</td>
					<td class="cell" th:text="${#calendars.format(stock.createTime, 'yyyy-MM-dd HH:mm:ss ')}" data-toggle="tooltip" th:title="${#calendars.format(stock.createTime, 'yyyy-MM-dd HH:mm:ss ')}">待检测</td>
					<td class="cell" th:if="${stock.finishTime != 0}" th:text="${#calendars.format(stock.finishTime, 'yyyy-MM-dd HH:mm:ss ')}" data-toggle="tooltip" th:title="${#calendars.format(stock.finishTime, 'yyyy-MM-dd HH:mm:ss ')}">电阻器</td>
					<td class="cell" th:if="${stock.finishTime == 0}" th:text="正在处理" data-toggle="tooltip" th:title="正在处理">电阻器</td>
					<td class="cell" th:text="${stock.state}" data-toggle="tooltip" th:title="${stock.state}">在库</td>
					<!-- 
					<td class="cell" 
						th:text="${#calendars.format(0, 'yyyy-MM-dd HH:mm:ss')}" data-toggle="tooltip" th:title="${#calendars.format(0, 'yyyy-MM-dd HH:mm:ss')}">2015-10-28
						10：00</td>
						 -->
					<td align="right">
						<div class="btn-group">
							<button type="button" class="btn btn-success btn-xs"
								th:attr="data-id=${stock.id}" data-toggle="modal"
								data-target="#modal_detail">详情</button>
							<!-- <button type="button" class="btn btn-default btn-xs"
								th:attr="data-id=${stock.id}" data-toggle="modal"
								data-target="#modal_modify">修改</button>  -->
							<button type="button" class="btn btn-danger btn-xs"
								th:attr="data-id=${stock.id}" data-toggle="modal"
								data-target="#modal_delete">作废</button>
						</div>
					</td>
				</tr>
				<tr th:if="${#lists.isEmpty(stocks)}">
					<td colspan="6">
						<div class="alert alert-info" role="alert">
							不存在任何拣货记录, <a data-toggle="modal" data-target="#modal_create"><strong>点此开始拣货</strong></a>?
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<div th:if="${not#lists.isEmpty(stocks)}" style="text-align: center;">
			<a tabindex="0" role="button" class="btn btn-success" id="page_up"
				data-trigger="focus" data-placement="left" data-toggle="popover"
				data-content="没有上一页了">上一页</a> <label id="currentPage">当前页</label> <label>/</label>
			<label id="totalPage">总页数</label> <a tabindex="0" role="button"
				class="btn btn-success" id="page_down" data-trigger="focus"
				data-placement="right" data-toggle="popover" data-content="没有下一页了">下一页</a>
		</div>
	</div>

	<!-- 新建进货单 -->
	<div class="modal fade" id="modal_create" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span>&times;</span>
					</button>
					<h4 class="modal-title" id="modal_create"
						style="margin-top: 0px; text-align: center;">
						<strong>新建订单</strong>
					</h4>
				</div>
				<div class="modal-body">
					<div class="row">
				        <div class="control-group" id="fields">
				            <div class="controls">
				                <form role="form" autocomplete="off" id="form_create" class="form-inline form-horizontal">
				                	<div class="form-group col-sm-12" >
				                    	<label for="input_ware" class="col-sm-2 form-label control-label" style="width: 12%">货品:</label>
				                        <input style="width: 28%;" type="text" class=" col-sm-4 form-control" id="input_ware" name="item[0].id" placeholder="请输入货品"></input>
				                        <label for="input_quality" class="control-label form-label col-sm-2" style="width: 12%">数量:</label>
				                        <input style="width: 28%;" type="number" min="1" class=" col-sm-3 form-control" id="input_number" name="item[0].number" placeholder="请输入货品数量"></input>		                                
				                        <!-- <span class="input-group-btn btn-group-vertical col-sm-2 form-control" style="border:0"> -->
			                                <span style="white-space:pre">     </span>
			                                <button class="btn btn-success btn-add" type="button" style="height: 35px; width: 35px; text-align:center" >
			                                    <span class="glyphicon-plus" style="font-size: 18px; text-align:center;"></span>
			                                </button>
				                        <!-- </span> -->
				                    </div>
				                    <div class="form-group  col-sm-12 hide" id="itemTemplate" style="margin-top:15px">
				                        <label for="input_ware" class="col-sm-2 control-label form-label" style="width: 12%">货品:</label>
		                            	<input style="width: 28%;" type="text" class="col-sm-4 form-control" id="input_ware" name="id" placeholder="请输入货品"></input>
		                                <label for="input_quality" class="col-sm-2 control-label form-label" style="width: 12%">数量:</label>
		                            	<input style="width: 28%;" type="number" min="1" class="col-sm-3 form-control" id="input_number" name="number" placeholder="请输入货品数量"></input>		                                
		                            	<span style="white-space:pre">     </span>
		                            	<button class="btn btn-success btn-add" type="button" style="height: 35px; width: 35px; text-align:center" >
			                                <span class="glyphicon-plus" style="font-size: 18px; text-align:center;"></span>
			                            </button>
		                            	<button class="btn btn-danger btn-remove" type="button" style="height: 35px; width: 35px">
				                            <span class="glyphicon-minus" style="font-size: 18px;"></span>
				                        </button>
				                    </div>
				                </form>
				            </div>
				        </div>
					</div>
				</div>
				<div class="modal-footer">
					<div align="center">
						<button type="button" class="btn btn-default"
							data-dismiss="modal">取消</button>
						<button type="submit" class="btn btn-success" id="btn_create"
							data-dismiss="modal" data-loading-text="提交中...">提交订单</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- 拣货单详情 -->
	<div class="modal fade" id="modal_detail" tabindex="-1" role="dialog"
		aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content" id="modal-content" style="margin-top: 100px">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title" style="margin-top: 0px; text-align: center;">拣货单详情</h4>
				</div>
				<div class="modal-body">
					<form id="form_details" class="form-horizontal">																	
						<div class="tab-pane" id="tab" style="text-align:left">
							
							<label>拣货单信息</label>
							<table border="1" id="pick_detail" style="border-collapse:collapse;  width: 100%;">
								<tbody>
								</tbody>
							</table>
							<label>货品列表详情</label>
							<table border="1" id="ware_detail" style="border-collapse:collapse;  width: 100%;">
								<tbody>
								</tbody>
							</table>
							
							</div>
					</form>
				</div>
				<div class="modal-footer" style="text-align:center">
					<button type="submit" class="btn btn-success"
						id="btn_print">打印</button>
				</div>							
			</div>			
		</div>
	</div>
	
	<!-- 上传Excel表格拣货单列表 -->
	<div class="modal fade" id="excel_batch" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span>&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel"
						style="margin-top: 0px; text-align: center;">
						<strong>批量导入拣货单</strong>
					</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" id="form_batch">
						<div class="form-group">
							<label class="col-sm-2 control-label" for="state">是否立即执行拣货:</label>
							<div class="col-sm-10">
								<select class="form-control" id="state" name="state">
									<option value="未审核">导入成功后即刻执行拣货</option>
									<option value="审核中">手动触发拣货</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="attachment">拣货单:</label>
							<div class="col-sm-10">
								<input class="form-control" id="fileupload" type="file"
									name="files[]" data-url="/upload" multiple="multiple" /> <input
									type="hidden" name="attachment_names" id="attachment_names" /> <label
									class="label label-warning">请不要上传超过10M的附件(仅支持单个Excel文件上传)</label>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="attachment"></label>
								<a href="/docs/stockout.xlsx">点此下载拣货单模板</a>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<div align="center">
						<button type="button" class="btn btn-default"
							data-dismiss="modal">取消</button>
						<button type="submit" class="btn btn-success" id="btn_batch"
							data-dismiss="modal" data-loading-text="提交中...">提交拣货单</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div
		th:replace="fragments/modals/confirm :: confirm (id='modal_delete',title='警告确认',message='你确认要删除吗?',style='danger')"></div>
		<div th:replace="fragments/modals/confirm :: confirm (id='modal_success', title='提交成功', message='拣货单提交成功', style='success',url='')"></div>
		<div th:replace="fragments/modals/confirm :: confirm (id='modal_failure', title='提交失败', message='拣货单提交失败，请重新提交或者联系客服处理！', style='warning',url='')"></div>
	<nav th:replace="fragments/footer :: footer"></nav>
	<script type="text/javascript">
			var currentPage = GetQueryString("page") == "" ? "0" : GetQueryString(
			"page").split(",")[0];
			var defaultSize = 20;
			var maxPage = Math.floor(($("#maxPage").val() - 1) / defaultSize);
			
			/* 页面文档结构加载完成执行下面： */
			$(function() {
				if (document.getElementById('currentPage'))
					document.getElementById('currentPage').innerText = Number(currentPage) + 1;
				if (document.getElementById('totalPage'))
					document.getElementById('totalPage').innerText = Number(maxPage) + 1;
				
				$("#page_down").click( function() {
					currentPage = ++currentPage;
					if (maxPage >= currentPage) {
						var $btn = $(this).button('loading');
						/*<![CDATA[*/
						location.href = 'pick?page=' + currentPage + ',' + defaultSize + "&time="
						+ $("#filter_time").val() + "&state="+ $("#filter_state").val();; 
						/*]]>*/
					$btn.button('reset');
					} else {
						currentPage = --currentPage;
						$("#page_down").popover('show');
						return;
					}
				});
				//上一页
				$("#page_up").click( function(){
					currentPage = --currentPage;
					if (Math.max(currentPage, 0) == currentPage) {
						var $btn = $(this).button('loading');
						/*<![CDATA[*/
						location.href = 'pick?page=' + currentPage + ',' + defaultSize + "&time="
						+ $("#filter_time").val() + "&state="+ $("#filter_state").val();;
						/*]]>*/
						$btn.button('reset');
					} else {
						currentPage = ++currentPage;
						$("#page_up").popover('show');
						return;
					}
				});
			});
			
			var array3 = new Array();
			var j=-1;
			array3.push(0)
			$(function(){
				$('#btn_create').click(function() {
					for(i=array3.length-1;i>=0;i--){
						document.getElementsByName('item[' + array3[i] + '].id')[0].name='item[' + i + '].id'
						document.getElementsByName('item[' + array3[i] + '].number')[0].name='item[' + i + '].number'
					}
					$('#itemTemplate').remove();
					var data = $("#form_create").serializeObject();
					console.log(data)
					var $btn = $(this).button('loading');
					$.ajax({
						type : "post",
						url : CONSTS.BASE_API + '/stock/out',
						async : false,
						data : JSON.stringify(data),
						contentType : "application/json; charset=utf-8",
						success : function(data) {
							
							if(data.message != "good"){
								$("#modal_failure").find("p")[0].innerHTML = "错误信息:"+data.message;
		                        $("#modal_failure").modal("show");
							}
							else {
								$("#modal_success").modal('show');
		                    	 $("#modal_success").on('hide.bs.modal', function() {
		                         location.reload();
		                     });
							}
						},
						fail : function(data) {
							$("#modal_failure").find("p")[0].innerHTML = "错误信息:"+data.message;
	                        $("#modal_failure").modal("show");
						}
					});
					$btn.button('reset');
				});
				
				//手动增删进货单输入框
				var itemIndex=0;
				var $template
				var $clone
				$(document).on('click', '.btn-add', function() {	
				   itemIndex++;
				   array3.push(itemIndex)
	               $template = $('#itemTemplate'),
	               $clone = $template
	                .clone()
	                .removeClass('hide')
	                .removeAttr('id')
	                .attr('data-item-index', itemIndex)
	                .insertBefore($template);

	                  // Update the name attributes
	                $clone
	                      .find('[name="id"]').attr('name', 'item[' + itemIndex + '].id').end()
	                      .find('[name="number"]').attr('name', 'item[' + itemIndex + '].number').end();
	                $clone.find('[id="input_ware"]').autocomplete({
	           	       source: function(request, response) {
	           	            $.ajax({
	           	            	type : "post",
	           	                url: "api/stock/autocomplete",
	           	                dataType: "json",
	           	                data: {search:request.term,field:"productCode,name"},
	           	                success: function(data) {
	           	                	var array = new Array();
	           	                    response($.map(data.result, function(item) {
	           	                    	if(inArray(array,item.product_code))
	           	                    		return;
	           	                        array.push(item.product_code);
	           	                    	return {
	           	                    		value: item.product_code + " " + item.name
	           	                        }
	           	                    }));
	           	                }
	           	            });
	           	        },
	          	       
	          	   	}); 
				}).on('click', '.btn-remove', function() { // Remove button click handler
	                   var $row  = $(this).parents('.form-group'),
	                   index = $row.attr('data-item-index');
	                   for(i=array3.length-1;i>=0;i--){
	                	   if(array3[i]==index)
	                		   j=i;
	                   };
	                   if(j!=-1){
	                   array3.splice(j, 1)
	                   }
	                    // Remove element containing the fields
	                   $row.remove();
	            });
			});
			
			function post(file_list) {
				console.log(file_list);		
				var attachment = $("#form_batch").serializeObject();
				attachment['attachment_names'] = file_list[0];
				$.ajax({
					type : "post",
					url : CONSTS.BASE_API + 'stock/batch',
					async : false,
					data : JSON.stringify(attachment),
					contentType : "application/json; charset=utf-8",
					success : function(data) {
						if (data.code != 0) {
							$("#modal_failure").find("p")[0].innerHTML = "错误信息："
									+ data.message;
							$("#modal_failure").modal("show");
						} else {
							$("#modal_success").modal('show');
							$("#modal_success").on('hide.bs.modal', function() {
								location.reload();
							});
						}
					},
					fail : function(data) {
						alert(data);
					}
				});
			}
			
			$('#btn_batch').click(function(){
				var $btn = $(this).button('loading');
				var length = document.getElementById("fileupload").files.length;
				if (length == 0){
					post();
				}
				else {
					var i;
					var files = document.getElementById("fileupload").files;
					var filename = "";
					for (i = files.length - 1; i >= 0; i--) {
						if (files[i].size > 104857600) {
							$("#modal_failure").find("p")[0].innerHTML = "错误信息：请不要上传超过100M的文件";
							$("#modal_failure").modal("show");
							$btn.button('reset');
							return;
						}
						filename = filename + files[i].name + "/";
					}
					attachment_names.value = filename.substring(0, filename.length - 1);
					i = 1;
					$('#fileupload').fileupload().fileupload(
						'add',
						{
							files : files,
							url : CONSTS.BASE_URL + "/upload"
						}).bind('fileuploaddone',
							function(e, data) {
								if (i == length) {
									post(data.result.result);
								}
								i++;
							});
				}
				$btn.button('reset');
			});
			
			//传参数
			$('#modal_delete').on('show.bs.modal', function(event) {
				$(this).find(".warning-message").addClass('hidden').html('');
				$(this).data('id', $(event.relatedTarget).data('id'));
			});

			//处理删除
			var modal = $("#modal_delete");
			modal.find(".btn-submit").click(
					function(event) {
						var submit = $(event.currentTarget).button('loading');
						$.ajax({
							type : "delete",
							url : CONSTS.BASE_API + '/stock/'
									+ modal.data('id'),
							contentType : "application/json; charset=utf-8",
							success : function(data) {
								window.location.reload();
							},
							error : function(data) {
								modal.find(".warning-message").html(
										'删除失败请稍后再试,或者联系管理员.').removeClass(
										'hidden');
							},
							complete : function() {
								submit.button('reset');
							}
						});
					});
			
			$('#btn_print').click(function () {
				var modal = $('#modal_detail');
				/* document.getElementById(id).value =  */
				var url = [location.protocol, '//', location.host, location.pathname.indexOf("pick") >= 0 ? '/pick' : '', '/printer'].join('');
				var printWindow = window.open(url);
				printWindow.onload = function () {
				var table = modal.find('.tab-pane').html();
				printWindow.document.body.innerHTML = table;
				printWindow.print();
				};
			});
			
			//获取拣货单详情		  
			$('#modal_detail').on('show.bs.modal',function(event) {
				var target = $(event.relatedTarget);
				$(this).data('id', target.data('id'));
				var url = CONSTS.BASE_API + '/stock/' + target.data('id');
				$.get(url,function(data, status) {
					if (data.code == 0) {
						var pick = data.result;	
						console.log(pick)
						//进货单详情的表格
						var table = document.getElementById("pick_detail");								
			        	var body = table.tBodies[0];
			        	reset(body);
			        	var rowIndex = body.childElementCount;
			        	body.insertRow(rowIndex);
			        	body.rows[rowIndex].insertCell(0)
			        	body.rows[rowIndex].cells[0].innerText = "拣货单类型：" + pick.type;
			        	body.rows[rowIndex].cells[0].width="50%";
			        	body.rows[rowIndex].insertCell(1)
  						    body.rows[rowIndex].cells[1].innerText = "拣货单编号：" + pick.no;
			        	body.rows[rowIndex].cells[1].setAttribute("style", "height:30px;")
			        	
			        	
			        	rowIndex += 1;
			        	body.insertRow(rowIndex);
			        	body.rows[rowIndex].insertCell(0)
			        	body.rows[rowIndex].cells[0].innerText = "拣货单状态：" + pick.state;
			        	body.rows[rowIndex].insertCell(1)
			        	body.rows[rowIndex].cells[1].innerText = "货品种类：" + pick.details.length;
			        	body.rows[rowIndex].cells[1].setAttribute("style", "height:30px;")

			        	rowIndex += 1;
			        	body.insertRow(rowIndex);
			        	body.rows[rowIndex].insertCell(0)
			        	body.rows[rowIndex].cells[0].innerText = "创建时间：" + dateformat(pick.create_time);
			        	body.rows[rowIndex].cells[0].setAttribute("style", "height:30px;")
			        	body.rows[rowIndex].cells[0].setAttribute("colspan", "2")

			        	var table = document.getElementById("ware_detail");
			        	var body = table.tBodies[0];
			        	reset(body);
			        	var rowIndex = body.childElementCount;
			        	for(i = pick.details.length-1; i>=0; i--){
						body.insertRow(rowIndex);
			        	body.rows[rowIndex].insertCell(0);
			        	body.rows[rowIndex].cells[0].innerText = "货品名：" + pick.details[i].details[0].product_name;
			        	body.rows[rowIndex].cells[0].width="50%";
			        	body.rows[rowIndex].insertCell(1)
			        	body.rows[rowIndex].cells[1].innerText = "货品编码：" + pick.details[i].details[0].product_code;
			        	body.rows[rowIndex].cells[1].setAttribute("style", "height:30px;")
			        	body.rows[rowIndex].cells[1].width="50%";
			        	body.rows[rowIndex].cells[0].setAttribute("colspan", "2")

			        	rowIndex += 1;
			        	body.insertRow(rowIndex);
			        	body.rows[rowIndex].insertCell(0);
			        	body.rows[rowIndex].cells[0].innerText = "订单数量：" + pick.details[i].details[0].quantity;
			        	
			        	body.rows[rowIndex].insertCell(1)
			        	body.rows[rowIndex].cells[1].innerText = "实际拣货数量：" + pick.details[i].real_quantity;
			        
			        	body.rows[rowIndex].insertCell(2)
			        	var state = "未分配";
			        	if(pick.details[i].state == 1){
			        		state = "拣货完成";
			        	}else if(pick.details[i].state == 0){
			        		state = "待拣货";
			        	}else{
			        		state = "拣货异常: " + pick.details[i].state;
			        	}
			        	body.rows[rowIndex].cells[2].innerText = "拣货状态：" + state;
			        	
			        	body.rows[rowIndex].cells[2].setAttribute("style", "height:30px;")
			        	body.rows[rowIndex].setAttribute("style", "border-color:grey grey black grey")
			        	rowIndex += 1;
			        	}
		        	}
				}, 'json');
			});

			$("#filter_state").val(
					GetQueryString('state') == "" ? "default"
							: GetQueryString('state'));
			
			$("#filter_time").val(
					GetQueryString('time') == "" ? "default"
							: GetQueryString('time'));
			
			$("#btn_filter").click(
					function() {
						/*<![CDATA[*/
						location.href = 'pick?page=0' + ',' + defaultSize 
								+  "&time="
								+ $("#filter_time").val() + "&state="
								+ $("#filter_state").val()
								
						/*]]>*/
					});
			
			/*自动填充方法*/
			$('#input_ware').autocomplete({
	         	 source: function(request, response) {
	       	            $.ajax({
	       	            	type : "post",
	       	                url: "api/stock/autocomplete",
	       	                dataType: "json",
	       	                data: {search:request.term,field:"productCode,name"},
	       	                success: function(data) {
	       	                	var array = new Array();
	       	                    response($.map(data.result, function(item) {
	       	                    	if(inArray(array,item.product_code))
	       	                    		return;
	       	                        array.push(item.product_code);
	        	                    	return {
	        	                    		value: item.product_code + " " + item.name
	        	                        }
	       	                    }));
	        	           }
	        	     });
	        	},
	         	       
	        });
			
			function inArray(array,value)
		    {
		        var len=array.length;
		        for(var i=len-1;i>=0;i--)
		        {
		            if(array[i]==value)
		                return true;
		        }
		        return false;
		    }
			
			Date.prototype.format = function(f) {
				var o = {
					"M+" : this.getMonth() + 1, //month
					"d+" : this.getDate(), //day
					"h+" : this.getHours(), //hour
					"m+" : this.getMinutes(), //minute
					"s+" : this.getSeconds(), //second
					"q+" : Math.floor((this.getMonth() + 3) / 3), //quarter
					"S" : this.getMilliseconds()
				//millisecond
				}
				if (/(y+)/.test(f))
					f = f.replace(RegExp.$1, (this.getFullYear() + "")
							.substr(4 - RegExp.$1.length));
				for ( var k in o)
					if (new RegExp("(" + k + ")").test(f))
						f = f.replace(RegExp.$1, RegExp.$1.length == 1 ? o[k]
								: ("00" + o[k]).substr(("" + o[k]).length));
				return f
			}

			function dateformat(time) {
				var d = new Date();
				d.setTime(time);
				var date = d.format('yyyy-MM-dd hh:mm:ss');
				return date;
			}
			
			function reset(body) {
				var rowIndex = body.childElementCount;
					if (rowIndex > 0)
						for (var i = rowIndex - 1; i >= 0; i--)
							body.deleteRow(i);
			}
	</script>
</body>
</html>