<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="fragments/head :: head (title='货架型号')">
</head>

<body>
	<nav th:replace="fragments/navbar :: navbar"></nav>
	<div class="container table-responsive"
		style="width: 1024px; margin-bottom: 60px;">
		<div class="form-inline">
			<div class="form-group form-group-sm">
				<label class="control-label">货架类型</label> <select
					class="form-control" id="filter_contract"
					onchange="document.getElementById('btn_filter').click();">
					<option value="default">点击筛选</option>
					<option value="1">电器类货架</option>
					<option value="2">食品类货架</option>
				</select>
			</div>
			<div class="form-group form-group-sm">
				<label class="control-label">货架型号</label> <select
					class="form-control" id="filter_stock_state"
					onchange="document.getElementById('btn_filter').click();">
					<option value="default">型号筛选</option>
					<option value="1">A</option>
					<option value="2">B</option>
				</select>
			</div>
			<div class="form-group form-group-sm">
				<input type="text" class="form-control" id="search_input" onkeypress="getKey()"
					placeholder="输入货架类型或者型号进行搜索" />
			</div>
			<button type="button" class="btn btn-warning btn-sm" id="btn_filter">开始搜索</button>
			<button class="btn btn-sm btn-success btn-primary new_level" id="new"
				style="float: right; position: relative;" >新增货架型号</button>
		</div>

		<!-- 表格 -->
		<input type="hidden" id="maxPage" th:attr="value=${maxPage}" />
		<table class="table table-condensed  table-hover"
			style="margin-top: 10px;">
			<thead>
				<tr class="active">
					<td>编号</td>
					<td>货架型号名称</td>
					<td>货架分层</td>
					<td>创建时间</td>
					<td align="center">操作</td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="rack_model : ${rackModels}">
					<td th:text="${rack_model.code}" data-toggle="tooltip" th:title="${rack_model.code}">编号</td> 
					<td th:text="${rack_model.name}" data-toggle="tooltip" th:title="${rack_model.name}">型号名</td>
					<td> <div th:if="${rack_model.levelList}!=null" th:text="${#arrays.length(rack_model.levelList)}"  th:attr="name=${rack_model.id}" class="asd"></div>
					<div th:if="${rack_model.levelList}==null" th:text="未分层"  th:attr="name=${rack_model.id}" class="asd"></div></td>
					<td th:text="${#calendars.format(rack_model.createdTime, 'yyyy-MM-dd HH:mm:ss')}" data-toggle="tooltip" th:title="${#calendars.format(rack_model.createdTime, 'yyyy-MM-dd HH:mm:ss')}">2015-10-28 10：00</td> 
					<td align="center">
						<div class="btn-group">
							<button type="button" class="btn btn-success btn-xs asd"
								th:attr="name=${rack_model.id}" >详情</button>
							<button type="button" class="btn btn-default btn-xs asd"
								th:attr="name=${rack_model.id}" >修改</button>
							<button type="button" class="btn btn-danger btn-xs"
								th:attr="data-id=${rack_model.id}" data-toggle="modal"
								data-target="#modal_delete">作废</button>
						</div>
					</td>
				</tr>
				<tr th:if="${#lists.isEmpty(rackModels)}">
					<td colspan="5">
						<div class="alert alert-info" role="alert">
							不存在任何货架型号记录, <a data-toggle="modal" data-target="#create_modal"><strong>现在创建</strong></a>?
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<div th:if="${not#lists.isEmpty(rackModels)}" style="text-align: center;">
			<a tabindex="0" role="button" class="btn btn-success" id="page_up"
				data-trigger="focus" data-placement="left" data-toggle="popover"
				data-content="没有上一页了">上一页</a> <label id="currentPage">当前页</label> <label>/</label>
			<label id="totalPage">总页数</label> <a tabindex="0" role="button"
				class="btn btn-success" id="page_down" data-trigger="focus"
				data-placement="right" data-toggle="popover" data-content="没有下一页了">下一页</a>
		</div>
	</div>

	<!-- 新增货架型号 -->
	<div class="modal fade" id="create_modal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span>&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel"
						style="margin-top: 0px; text-align: center;">
						<strong>新建货架型号</strong>
					</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" id="form_create" method="POST"
						action="./rack-model">
						<div class="form-group">
							<label class="col-sm-2 control-label" for="code">编号:</label>
							<div class="col-sm-8">
								<input class="form-control" type="text" id="code" name="code"
									placeholder="请输入货架型号的编号" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="name">名称:</label>
							<div class="col-sm-8">
								<input class="form-control" type="text" id="name"
									name="name" placeholder="请输入货架名称" /> 
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="height">高度:</label>
							<div class="col-sm-8">
								<input class="form-control" type="text" id="height"
									name="height" placeholder="请输入货架高度" /> 
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="width">宽度:</label>
							<div class="col-sm-8">
								<input class="form-control" type="text" id="width"
									name="width" placeholder="请输入货架宽度" /> 
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer" style="align: center">
					<button type="button" class="btn btn-default"
						data-dismiss="modal">取消</button>
					<button type="submit" class="btn btn-success" id="btn_create"
						data-dismiss="modal" data-loading-text="提交中...">确定</button>
				</div>
			</div>
		</div>
	</div>
	
	<div
		th:replace="fragments/modals/confirm :: confirm (id='modal_delete',title='警告确认',message='你确认要删除吗?',style='danger')"></div>
	<nav th:replace="fragments/footer :: footer"></nav>
	<script type="text/javascript">
		
		function GetQueryString(name) {
			/*<![CDATA[*/
			/*使用inline js，否则thymeleaf无法解析'&'、'<'等运算符*/
			var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
			var r = window.location.search.substr(1).match(reg); //获取url中"?"符后的字符串并正则匹配
			var context = "";
			if (r != null) {
				context = r[2];
			}
			reg = null;
			r = null;
			return context == null || context == "" || context == "undefined" ? ""
					: context;
			/*]]>*/
		}

		var currentPage = GetQueryString("page") == "" ? "0" : GetQueryString(
				"page").split(",")[0];
		var defaultSize = 2;
		var maxPage = Math.floor(($("#maxPage").val() - 1) / defaultSize);

		/* 页面文档结构加载完成执行下面： */
		$(function() {
			if (document.getElementById('currentPage')){
				document.getElementById('currentPage').innerText = Number(currentPage) + 1;
			}
			if (document.getElementById('totalPage')){
				document.getElementById('totalPage').innerText = Number(maxPage) + 1;
			}

			$("#page_down").click(
					function() {
						currentPage = ++currentPage;
						if (maxPage >= currentPage) {
							var $btn = $(this).button('loading');
							/*<![CDATA[*/
							location.href = 'rack-model?page=' + currentPage + ',' + defaultSize;
							/*]]>*/
							$btn.button('reset');
						} else {
							currentPage = --currentPage;
							$("#page_down").popover('show');
							return;
						}
					});

			$("#page_up").click(
					function() {
						currentPage = --currentPage;
						if (Math.max(currentPage, 0) == currentPage) {
							var $btn = $(this).button('loading');
							/*<![CDATA[*/
							location.href = 'rack-model?page=' + currentPage + ',' + defaultSize;
							/*]]>*/
							$btn.button('reset');
						} else {
							currentPage = ++currentPage;
							$("#page_up").popover('show');
							return;
						}
					});
			
			 $('.asd').click(function() {
				window.location.href='level.html?id='+ $(this).attr('name');
			 });
			
			 $('.new_level').click(function() {
					window.location.href='level.html';
				 });
			 
			//创建货架型号
			$('#btn_create').click(function() {
				var data = $("#form_create").serializeObject();
				var $btn = $(this).button('loading');
				$.ajax({
					type : "post",
					url : CONSTS.BASE_API + '/rack-model/',
					async : false,
					data : JSON.stringify(data),
					contentType : "application/json; charset=utf-8",
					success : function(data) {
						location.reload();
					}
				});
				$btn.button('reset');
			});
			
			//删除货架型号
			//传参数
			$('#modal_delete').on('show.bs.modal', function(event) {
				$(this).find(".warning-message").addClass('hidden').html('');
				$(this).data('id', $(event.relatedTarget).data('id'));
			});

			//处理删除
			var modal = $("#modal_delete");
			modal.find(".btn-submit").click(
				function(event) {
					var submit = $(event.currentTarget).button('loading');
					$.ajax({
						type : "delete",
						url : CONSTS.BASE_API + '/rack-model/' + modal.data('id'),
						contentType : "application/json; charset=utf-8",
						success : function(data) {
							window.location.reload();
						},
						error : function(data) {
							modal.find(".warning-message").html(
									'删除失败请稍后再试,或者联系管理员.').removeClass(
									'hidden');
						},
						complete : function() {
							submit.button('reset');
						}
					});
				});
		});

		$.fn.serializeObject = function() {
			var o = {};
			var a = this.serializeArray();
			$.each(a, function() {
				if (o[this.name] !== undefined) {
					if (!o[this.name].push) {
						o[this.name] = [ o[this.name] ];
					}
					o[this.name].push(this.value || '');
				} else {
					o[this.name] = this.value || '';
				}
			});
			return o;
		};

		Date.prototype.format = function(f) {
			var o = {
				"M+" : this.getMonth() + 1, //month
				"d+" : this.getDate(), //day
				"h+" : this.getHours(), //hour
				"m+" : this.getMinutes(), //minute
				"s+" : this.getSeconds(), //second
				"q+" : Math.floor((this.getMonth() + 3) / 3), //quarter
				"S" : this.getMilliseconds() //millisecond
			}
			
			if (/(y+)/.test(f)){
				f = f.replace(RegExp.$1, (this.getFullYear() + "")
						.substr(4 - RegExp.$1.length));
			}
			
			for ( var k in o){
				if (new RegExp("(" + k + ")").test(f)){
					f = f.replace(RegExp.$1, RegExp.$1.length == 1 ? o[k]
							: ("00" + o[k]).substr(("" + o[k]).length));
				}
			}
			
			return f;
		}

		function dateformat(time) {
			var d = new Date();
			d.setTime(time);
			var date = d.format('yyyy-MM-dd hh:mm:ss');
			return date;
		}
		
		function showdiv(obj){
			window.location.href='level.html?id='+ obj.name
		}
	</script>
</body>
</html>