<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="fragments/head :: head (title='预约管理')">
</head>

<body>
	<nav th:replace="fragments/navbar :: navbar"></nav>
	<div class="container table-responsive"
		style="width: 1024px; margin-bottom: 60px;">
		<div class="form-inline">
			<div class="form-group form-group-sm">
				<label class="control-label">预约处理状态</label> <select
					class="form-control" id="filter_stock_state"
					onchange="document.getElementById('btn_filter').click();">
					<option value="default">状态筛选</option>
					<option value="ACCEPTED">已接受</option>
					<option value="DECLINED">已拒绝</option>
					<option value="HANDLING">待处理</option>
					<option value="CLOSED">已完结</option>
				</select>
			</div>
			<div class="form-group form-group-sm">
				<label class="control-label">预约提交时间</label> <select class="form-control"
					id="filter_time"
					onchange="document.getElementById('btn_filter').click();">
					<option value="default">时间筛选</option>
					<option value="today">今天</option>
					<option value="yesterday">昨天</option>
					<option value="this_week">本周</option>
					<option value="this_month">本月</option>
				</select>
			</div>
			<div class="form-group form-group-sm">
				<input type="text" class="form-control" id="search_input" onkeypress="getKey()"
					placeholder="输入预约编号或用户手机号" />
			</div>
			<button type="button" class="btn btn-warning btn-sm" id="btn_filter">开始搜索</button>
			<button class="btn btn-sm btn-success btn-primary" id="new"
				style="float: right; position: relative;" data-toggle="modal"
				data-target="#modal_subscribe_create">新增预约</button>
		</div>

		<!-- 表格 -->
		<input type="hidden" id="maxPage" th:attr="value=${maxPage}" />
		<table class="table table-condensed  table-hover"
			style="margin-top: 10px;">
			<thead>
				<tr class="active">
					<td style="text-align: left" class="cell">预约编号</td>
					<td class="cell" style="width: 15%;">创建时间</td>
					<td class="cell">处理状态</td>
					<td class="cell">用户姓名</td>
					<td class="cell">用户手机号</td>
					<td class="cell">用户地址</td>
					<td class="cell" style="width: 16%;">预约课程</td>
					<td align="right" style="width: 16%;">操作</td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="subscribe : ${subscribes}">
					<td style="text-align: left" class="cell" th:text="${subscribe.code}" data-toggle="tooltip" th:title="${subscribe.code}">20151028001</td>
					<td class="cell" 
						th:text="${#calendars.format(subscribe.createTime, 'yyyy-MM-dd HH:mm')}" data-toggle="tooltip" th:title="${#calendars.format(subscribe.createTime, 'yyyy-MM-dd HH:mm')}">2015-10-28
						10：00</td>
					<td class="cell" th:if="${subscribe.state} == 'HANDLING'" th:text="正在处理" data-toggle="tooltip" th:title="正在处理">电阻器</td>
					<td class="cell" th:if="${subscribe.state} == 'ACCEPTED'" th:text="已接受预约" data-toggle="tooltip" th:title="已接受预约">电阻器</td>
					<td class="cell" th:if="${subscribe.state} == 'DECLINED'" th:text="已拒绝" data-toggle="tooltip" th:title="已拒绝">电阻器</td>
					<td class="cell" th:if="${subscribe.state} == 'CLOSED'" th:text="已关闭" data-toggle="tooltip" th:title="已关闭">电阻器</td>
					<td class="cell" th:if="${subscribe.state} == 'DELETED'" th:text="已删除" data-toggle="tooltip" th:title="已删除">电阻器</td>
					<td class="cell" th:text="${subscribe.user.username}" data-toggle="tooltip" th:title="${subscribe.user.username}">在库</td>
					<td class="cell" th:text="${subscribe.user.mobile}" data-toggle="tooltip" th:title="${subscribe.user.mobile}">待检测</td>
					<td class="cell" th:text="${subscribe.user.address}" data-toggle="tooltip" th:title="${subscribe.user.address}">待检测</td>
					<td class="cell">
						<span th:each="course : ${subscribe.courses}">
							<a th:attr="data-id=${course}" data-toggle="modal" data-target="#modal_course_details" th:text="${course}" style="margin-left: 2px;"></a>
						</span>
					</td>
					<td align="right">
						<div class="btn-group">
							<button type="button" class="btn btn-success btn-xs"
								th:attr="data-id=${subscribe.code}" data-toggle="modal"
								data-target="#modal_subscribe_details">详情</button>
							<button type="button" class="btn btn-default btn-xs"
								th:attr="data-id=${subscribe.code}" data-toggle="modal"
								data-target="#modal_modify">修改</button>
							<button type="button" class="btn btn-danger btn-xs"
								th:attr="data-id=${subscribe.code}" data-toggle="modal"
								data-target="#modal_delete">作废</button>
						</div>
					</td>
				</tr>
				<tr th:if="${#lists.isEmpty(subscribes)}">
					<td colspan="10">
						<div class="alert alert-info" role="alert">
							不存在任何预约记录, <a data-toggle="modal" data-target="#modal_create2"><strong>现在创建</strong></a>?
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<div th:if="${not#lists.isEmpty(subscribes)}" style="text-align: center;">
			<a tabindex="0" role="button" class="btn btn-success" id="page_up"
				data-trigger="focus" data-placement="left" data-toggle="popover"
				data-content="没有上一页了">上一页</a> <label id="currentPage">当前页</label> <label>/</label>
			<label id="totalPage">总页数</label> <a tabindex="0" role="button"
				class="btn btn-success" id="page_down" data-trigger="focus"
				data-placement="right" data-toggle="popover" data-content="没有下一页了">下一页</a>
		</div>
	</div>

	<!-- 新建课程预约 -->
    <div class="modal fade" id="modal_subscribe_create" tabindex="-1" role="dialog" aria-labelledby="modal_createLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span>&times;</span>
                    </button>
                    <h4 class="modal-title" id="modal_createLabel" style="margin-top: 0px; text-align: center;">
						<strong>新建课程预约</strong>
					</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="form_create" method="POST" action="./user">
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="name">预约课程:</label>
                            <div class="col-sm-9">
                                <input class="form-control" type="text" id="create_subscribe_courses" placeholder="请输入预约课程的编号，多个课程以空格分开" name="courses"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="name">预约课程时间:</label>
                            <div class="col-sm-9">
                                <select class="form-control" id="create_class" name="subscribeClass">
									<option value="monday">周一</option>
									<option value="tuesday">周二</option>
									<option value="wednesday">周三</option>
									<option value="thursday">周四</option>
									<option value="friday">周五</option>
									<option value="saturday">周六</option>
									<option value="sunday">周日</option>
								</select>
                            </div>
                        </div>
                       	<div class="form-group">
                            <label class="col-sm-3 control-label" for="state">预约处理状态:</label>
                            <div class="col-sm-9">
                            	<select class="form-control" id="create_subscribe_state" name="state">
                            		<option value="HANDLING">正在处理</option>
                            		<option value="ACCEPTED">已接受预约</option>
                            		<option value="DECLINED">已拒绝</option>
                            		<option value="CLOSED">已关闭</option>
                            		<option value="DELETED">已删除</option>
                            	</select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="name">用户姓名:</label>
                            <div class="col-sm-9">
                                <input class="form-control" type="text" id="create_subscribe_username" placeholder="请输入用户姓名" name="username"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="content">用户手机号:</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" id="create_subscribe_mobile" placeholder="请输入用户手机号" name="mobile"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="remark">用户地址:</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" id="create_subscribe_address" placeholder="请输入用户地址" name="address"></textarea>
                            </div>
                        </div>
                        <div align="center">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
							<button type="button" class="btn btn-success" id="btn_create">确认提交预约</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

	<!-- 课程预约详情 -->
    <div class="modal fade" id="modal_subscribe_details" tabindex="-1" role="dialog" aria-labelledby="modal_createLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span>&times;</span>
                    </button>
                    <h4 class="modal-title" id="modal_createLabel" style="margin-top: 0px; text-align: center;">
						<strong>课程预约详情</strong>
					</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="form_subscribe_detail" method="POST" action="./user">
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="code">预约编号:</label>
                            <div class="col-sm-9">
                                <input class="form-control" type="text" id="detail_subscribe_code" name="code" disabled="disabled"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="name">预约课程:</label>
                            <div class="col-sm-9">
                                <input class="form-control" type="text" id="detail_subscribe_courses" name="courses" disabled="disabled"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="name">预约课程时间:</label>
                            <div class="col-sm-9">
                                <input class="form-control" type="text" id="detail_subscribe_class" name="class" disabled="disabled"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="name">预约提交时间:</label>
                            <div class="col-sm-9">
                                <input class="form-control" type="text" id="detail_subscribe_time" name="createdTime" disabled="disabled"/>
                            </div>
                        </div>
                       	<div class="form-group">
                            <label class="col-sm-3 control-label" for="state">预约处理状态:</label>
                            <div class="col-sm-9">
                            	<select class="form-control" id="detail_subscribe_state" name="state" disabled="disabled">
                            		<option value="HANDLING">正在处理</option>
                            		<option value="ACCEPTED">已接受预约</option>
                            		<option value="DECLINED">已拒绝</option>
                            		<option value="CLOSED">已关闭</option>
                            		<option value="DELETED">已删除</option>
                            	</select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="name">用户姓名:</label>
                            <div class="col-sm-9">
                                <input class="form-control" type="text" id="detail_subscribe_username" name="username" disabled="disabled"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="content">用户手机号:</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" id="detail_subscribe_mobile" name="mobile" disabled="disabled"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="remark">用户地址:</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" id="detail_subscribe_address" name="address" disabled="disabled"></textarea>
                            </div>
                        </div>
                        <div align="center">
                            <button type="button" class="btn btn-success" data-dismiss="modal">确认</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
	<!-- 课程详情 -->
    <div class="modal fade" id="modal_course_details" tabindex="-1" role="dialog" aria-labelledby="modal_createLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span>&times;</span>
                    </button>
                    <h4 class="modal-title" id="modal_createLabel" style="margin-top: 0px; text-align: center;">
						<strong>课程信息详情</strong>
					</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="form_course_detail" method="POST" action="./user">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="code">课程编号:</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" id="detail_course_code" name="code" disabled="disabled"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="name">课程名称:</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" id="detail_course_name" name="name" disabled="disabled"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="classification">活动分类:</label>
                            <div class="col-sm-10">
                            	<select class="form-control" id="detail_course_classification" name="classification" disabled="disabled">
                            		<option value="绘画">绘画</option>
                            		<option value="舞蹈">舞蹈</option>
                            		<option value="跆拳道">跆拳道</option>
                            		<option value="瑜伽">瑜伽</option>
                            		<option value="语言与科技">语言与科技</option>
                            		<option value="寒暑假集训">寒暑假集训</option>
                            	</select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="sex">活动发布状态:</label>
                            <div class="col-sm-10">
                            	<select class="form-control" id="detail_course_state" name="state" disabled="disabled">
                            		<option value="已发布">已发布</option>
                            		<option value="未发布">未发布</option>
                            		<option value="DELETED">已删除</option>
                            	</select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="content">活动内容:</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" id="detail_course_content" name="content" disabled="disabled"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="remark">备注:</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" id="detail_course_remark" name="remark" disabled="disabled"></textarea>
                            </div>
                        </div>
                        <div align="center">
                            <button type="button" class="btn btn-success" data-dismiss="modal">确认</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
	
	<!-- 修改活动预约 -->
	<div class="modal fade" id="modal_modify" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content" id="modal-content" style="margin-top: 100px">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title" style="margin-top: 0px; text-align: center;">修改活动预约</h4>
				</div>

				<div class="modal-body">
					<form id="form_modify" class="form-horizontal">
						<div class="form-group">
							<label for="modify-description" class="col-sm-2 control-label">预约编号</label>
							<div class="col-sm-10">
								<input id="modify_code" name="code" type="text" class="form-control" placeholder="预约编号"  disabled="disabled"></input>
							</div>
						</div>
						<div class="form-group">
							<label for="modify-description" class="col-sm-2 control-label">创建时间</label>
							<div class="col-sm-10">
								<input id="modify_time" name="createTime" type="text" class="form-control" placeholder="预约创建时间" disabled="disabled"></input>
							</div>
						</div>
						<div class="form-group">
							<label for="modify-description" class="col-sm-2 control-label">用户姓名</label>
							<div class="col-sm-10">
								<input id="modify_name" name="username" type="text" class="form-control" placeholder="用户姓名"></input>
							</div>
						</div>
						<div class="form-group">
							<label for="modify-descrityion" class="col-sm-2 control-label">用户手机</label>
							<div class="col-sm-10">
								<input id="modify_mobile" name="mobile" type="text" class="form-control" placeholder="用户手机号"></input>
							</div>
						</div>
						<div class="form-group">
							<label for="modify-description" class="col-sm-2 control-label">用户地址</label>
							<div class="col-sm-10">
								<input id="modify_address" name="address" type="text" class="form-control" placeholder="用户地址"></input>
							</div>
						</div>
						<div class="form-group">
							<label for="modify-description" class="col-sm-2 control-label">预约活动</label>
							<div class="col-sm-10">
								<input id="modify_courses" name="courses" type="text" class="form-control" placeholder="预约活动"></input>
							</div>
						</div>
						<div class="form-group">
							<label for="modify-description" class="col-sm-2 control-label">预约时间</label>
							<div class="col-sm-10">
								<select class="form-control" id="modify_class" name="subscribeClass">
									<option value="monday">周一</option>
									<option value="tuesday">周二</option>
									<option value="wednesday">周三</option>
									<option value="thursday">周四</option>
									<option value="friday">周五</option>
									<option value="saturday">周六</option>
									<option value="sunday">周日</option>
								</select>
							</div>
						</div>
                       	<div class="form-group">
                            <label class="col-sm-2 control-label" for="state">处理状态:</label>
                            <div class="col-sm-10">
                            	<select class="form-control" id="modify_subscribe_state" name="state">
                            		<option value="HANDLING">正在处理</option>
                            		<option value="ACCEPTED">已接受预约</option>
                            		<option value="DECLINED">已拒绝</option>
                            		<option value="CLOSED">已关闭</option>
                            		<option value="DELETED">已删除</option>
                            	</select>
                            </div>
                        </div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					<button type="button" class="btn btn-success" id="btn_update">确认修改</button>
				</div>
			</div>
		</div>
	</div>
	
	<div
		th:replace="fragments/modals/confirm :: confirm (id='modal_delete',title='警告确认',message='你确认要删除吗?',style='danger')"></div>
		<div th:replace="fragments/modals/confirm :: confirm (id='modal_success', title='提交成功', message='预约修改成功', style='success',url='')"></div>
		<div th:replace="fragments/modals/confirm :: confirm (id='modal_failure', title='提交失败', message='预约修改失败，请重新提交或者联系客服处理！', style='warning',url='')"></div>
	<nav th:replace="fragments/footer :: footer"></nav>
	
	<script type="text/javascript">
		function GetQueryString(name) {
			/*<![CDATA[*/
			/*使用inline js, 否则thymeleaf无法解析'&'、'<'等运算符*/
			var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
			var r = window.location.search.substr(1).match(reg); //获取url中"?"符号后的字符串并正则匹配
			var context = "";
			if (r != null) {
				context = r[2];
			}
			reg = null;
			r = null;
			return context == null || context == "" || context == "undefined" ? "" : context;
			/*]]>*/
		}
		
		var currentPage = GetQueryString("page") == "" ? "0" :GetQueryString("page").split(",")[0];
		var defaultSize = 20;
		var maxPage = Math.floor(($("#maxPage").val() - 1) / defaultSize);
		
		//获取课程详情		  
		$('#modal_course_details').on('show.bs.modal',function(event) {
			var target = $(event.relatedTarget);
			$(this).data('id', target.data('id'));
			var url = CONSTS.BASE_API + '/course?code=' + target.data('id');
			$.get(url,function(data, status) {
				if (data.code == 0) {
					var course = data.result;
					$('#detail_course_code').val(course.code);
					$('#detail_course_name').val(course.name);
					$('#detail_course_content').val(course.content);
					$('#detail_course_remark').val(course.remark);
					$('#detail_course_classification').val(course.classification);
					$('#detail_course_state').val(course.state);
		        }else{
					$('#detail_course_code').val("课程编号错误，该课程不存在");
					$('#detail_course_name').val("课程编号错误，该课程不存在");
					$('#detail_course_content').val("课程编号错误，该课程不存在");
					$('#detail_course_remark').val("课程编号错误，该课程不存在");
					$('#detail_course_classification').val("课程编号错误，该课程不存在");
					$('#detail_course_state').val("课程编号错误，该课程不存在");
		        }
			}, 'json');
		});
		
		//获取预约详情 
		$('#modal_subscribe_details').on('show.bs.modal',function(event) {
			var target = $(event.relatedTarget);
			$(this).data('id', target.data('id'));
			var url = CONSTS.BASE_API + '/subscribe/' + target.data('id');
			$.get(url,function(data, status) {
				if (data.code == 0) {
					var subscribe = data.result;
					$('#detail_subscribe_code').val(subscribe.code);
					$('#detail_subscribe_username').val(subscribe.user.username);
					$('#detail_subscribe_mobile').val(subscribe.user.mobile);
					$('#detail_subscribe_address').val(subscribe.user.address);
					$('#detail_subscribe_class').val(subscribe.subscribeClass);
					$('#detail_subscribe_state').val(subscribe.state);
					$('#detail_subscribe_time').val(dateformat(subscribe.createTime));
					var courses = "";
					subscribe.courses.forEach(function(course){
						courses = courses + course + "  ";
					});
					$('#detail_subscribe_courses').val(courses);
		        }
			}, 'json');
		});
		
		$(function() {
			if(document.getElementById('currentPage')){
				document.getElementById('currentPage').innerText = Number(currentPage) + 1;
			}
			if(document.getElementById('totalPage')){
				document.getElementById('totalPage').innerText = Number(maxPage) + 1;
			}
			
			$("#filter_stock_state").val(
					GetQueryString('state') == "" ? "default"
							: GetQueryString('state'));
			
			$("#filter_time").val(
					GetQueryString('time') == "" ? "default"
							: GetQueryString('time'));
			
			//下一页
			$("#page_down").click( function() {
				currentPage = ++currentPage;
				if (maxPage >= currentPage) {
					var $btn = $(this).button('loading');
					/*<![CDATA[*/
					location.href = 'subscribe?page=' + currentPage + ',' + defaultSize + "&time="
					+ $("#filter_time").val() + "&stock_state="+ $("#filter_state").val();
					/*]]>*/
				$btn.button('reset');
				} else {
					currentPage = --currentPage;
					$("#page_down").popover('show');
					return;
				}
			});
			//上一页
			$("#page_up").click( function(){
				currentPage = --currentPage;
				if (Math.max(currentPage, 0) == currentPage) {
					var $btn = $(this).button('loading');
					/*<![CDATA[*/
					location.href = 'subscribe?page=' + currentPage + ',' + defaultSize + "&time="
					+ $("#filter_time").val() + "&stock_state="+ $("#filter_state").val();
					/*]]>*/
					$btn.button('reset');
				} else {
					currentPage = ++currentPage;
					$("#page_up").popover('show');
					return;
				}
			});
			
			$("#btn_filter").click(
				function() {
					/*<![CDATA[*/
					location.href = 'subscribe?page=0' + ',' + defaultSize + "&time="
					+ $("#filter_time").val() + "&state="+ $("#filter_stock_state").val()
							
					/*]]>*/
				});
			
			//新增课程预约
			$('#btn_create').click(function() {
				/*<![CDATA[*/
				/*使用inline js，否则thymeleaf无法解析'&'、'<'等运算符*/
	            var data = $("#form_create").serializeObject();
	            var $btn = $(this).button('loading');			
				$.ajax({
					type : "put",
					url : CONSTS.BASE_API + '/subscribe',
					async : false,
					data : JSON.stringify(data),
					contentType : "application/json; charset=utf-8",
					success : function(data) {
						if(data.code != 0){
							$("#modal_failure").find("p")[0].innerHTML = "错误信息:" + data.message;
	                        $("#modal_failure").modal("show");
						}
						else {
							$("#modal_success").modal('show');
	                    	$("#modal_success").on('hide.bs.modal', function() {
	                        	location.reload();
	                     	});
						}
					},
					fail : function(data) {
						$("#modal_failure").find("p")[0].innerHTML = "错误信息:" + data.message;
                        $("#modal_failure").modal("show");
					}
				});
	            $btn.button('reset');
	            /*]]>*/
	        });
			
		 	//修改课程预约信息
		 	$('#modal_modify').on('show.bs.modal', function(event) {
		 		var target = $(event.relatedTarget);
		 		$(this).data('id', target.data('id'));
		 		/*<![CDATA[*/
				/*使用inline js，否则thymeleaf无法解析'&'、'<'等运算符*/
		 		var url = CONSTS.BASE_API + '/subscribe/' + target.data('id');
		 		$.get(url, function(data, status) {
		 			if (data.code == 0) {
		 				var subscribe = data.result;
		 				$("#modify_code").val(subscribe.code);
		 				$("#modify_time").val(dateformat(subscribe.createTime));
		 				$("#modify_name").val(subscribe.user.username);
		 				$("#modify_mobile").val(subscribe.user.mobile);
		 				$("#modify_address").val(subscribe.user.address);
		 				$("#modify_class").val(subscribe.subscribeClass);
		 				var courses = "";
						subscribe.courses.forEach(function(course){
							courses = courses + course + " ";
						});
						$('#modify_courses').val(courses);
		 			}
		 		}, 'json');
		 		/*]]>*/
		 	});
		 	
		 	//修改货品信息
		 	$("#btn_update").click(function() {
		 		/*<![CDATA[*/
				/*使用inline js，否则thymeleaf无法解析'&'、'<'等运算符*/
		 		var id = $("#modal_modify").data('id');
		 		var url = CONSTS.BASE_API + '/subscribe/' + id;
		 		var data = $("#form_modify").serializeObject();
		 		$.ajax({
					type : "post",
					url : url,
					async : false,
					data : JSON.stringify(data),
					contentType : "application/json; charset=utf-8",
					success : function(data) {
						 $("#modal_success").modal('show');
	                     $("#modal_success").on('hide.bs.modal', function() {
	                         location.reload();
	                     });
					},
					fail : function(data) {
						$("#modal_failure").find("p")[0].innerHTML = "错误信息:"+data.message;
                        $("#modal_failure").modal("show");
					}
				});
			});
			/*]]>*/
		 	
		 	//删除预约，传参数
		 	$('#modal_delete').on('show.bs.modal', function(event) {
		 		$(this).find(".warning-message").addClass('hidden').html('');
		 		$(this).data('id', $(event.relatedTarget).data('id'));
		 	});
		 	//处理删除
		 	var modal = $("#modal_delete");
		 	modal.find(".btn-submit").click( function(event) {
		 		var submit = $(event.currentTarget).button('loading');
		 		$.ajax({
		 			type : "delete",
		 			url : CONSTS.BASE_API + '/subscribe/' + modal.data('id'),
		 			contentType : "application/json; charset=utf-8",
		 			success : function(data) {
		 				if(data.code != 0){
							$("#modal_failure").find("p")[0].innerHTML = "错误信息:" + data.message;
	                        $("#modal_failure").modal("show");
		 				}else{
			 				location.reload();
		 				}
		 			},
		 			error : function(data) {
		 				modal.find(".warning-message").html('删除失败请稍后再试，或者联系管理员.').removeClass('hidden');
		 			},
		 			complete : function() {
		 				submit.button('reset');
		 			}
		 		});
		 	});
		});
		
		//格式化日期
		Date.prototype.format = function(f) {
			var o = {
				"M+" : this.getMonth() + 1, //month
				"d+" : this.getDate(), //day
				"h+" : this.getHours(), //hour
				"m+" : this.getMinutes(), //minute
				"s+" : this.getSeconds(), //second
				"q+" : Math.floor((this.getMonth() + 3) / 3), //quarter
				"S" : this.getMilliseconds()
			//millisecond
			}
			if (/(y+)/.test(f)){
				f = f.replace(RegExp.$1, (this.getFullYear() + "")
						.substr(4 - RegExp.$1.length));
			}
			for ( var k in o){
				if (new RegExp("(" + k + ")").test(f)){
					f = f.replace(RegExp.$1, RegExp.$1.length == 1 ? o[k]
							: ("00" + o[k]).substr(("" + o[k]).length));
				}
			}
			return f;
		}

		function dateformat(time) {
			var d = new Date();
			d.setTime(time);
			var date = d.format('yyyy-MM-dd hh:mm:ss');
			return date;
		}
		
		$(function() {
			/*<![CDATA[*/
			/*使用inline js，否则thymeleaf无法解析'&'、'<'等运算符*/
			//$(function () { $("[data-toggle='tooltip']").tooltip(); });
			// 获取到当前IMG对象
			var obj = document.getElementsByClassName("bgimg");
			for(var i=0;i<obj.length;i++){
				// 获取到IMG对象的直接父级对象元素
				var parentEl = obj[i].parentElement;
				obj[i].style.height=parentEl.offsetHeight-10+"px";
				obj[i].style.width=parentEl.offsetWidth-10+"px";
			}
			/*]]>*/
		});
		
		function reset(body) {
			var rowIndex = body.childElementCount;
			if (rowIndex > 0){
				for (var i = rowIndex - 1; i >= 0; i--){
					body.deleteRow(i);
				}
			}
		}
	</script>
</body>
</html>